<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>古怪男人

　　鸦青色的天空掩映着远山，薄薄的雪堆积在林间小径上。空气微寒而清爽，人若行走其中，很快会感觉到身体仿佛被松枝和雪的气息填满，冰冷又惬意。
　　
　　简瑶在大路旁下了公交车，又拐上石板小径走了十多分钟，终于看到前方山坡上，一幢灰绿屋顶的欧式小别墅。
　　
　　自简瑶有记忆起，这幢别墅就矗立在城郊的山腰上。二十多年过去了，即使拿今天的审美眼光来看，这幢错落有致的建筑一点也不过时。只是多年来，这里都是无人居住的，小楼孤零零的坐落山间，永远黑灯瞎火。简瑶小时候，还有人吓她说这里是鬼屋。长大了才隐约听说，这里曾是某位海归知识分子的家邸，后来那人的妻子病死，他也带着年幼的儿子，再度远赴重洋。
　　
　　而今天，别墅的灯光却重新亮起来。原本斑驳的外墙，新刷了漆，满墙绿色的爬山虎。门口的青苔和野草，不知何时清理得干干净净。
　　
　　简瑶是英语系大四学生。今天来这里，是因为中学老师介绍的一份兼职翻译工作。酬劳不错，但是据说这里的主人很挑剔，之前介绍了不少人，都没看上。所以她一放寒假，老师就找上了她这位得意弟子。
　　
　　简瑶摘下绒线手套，上前敲门。应门的是个二十多岁的年轻男人，穿着薄毛衣黑西裤，高高瘦瘦，眉清目秀。看到她，男人面露笑意：“简瑶？”
　　
　　她的脸颊冻得有些发红，一呵气全是白雾，显得眼睛湿漉漉的：“是，我是简瑶。您好。”
　　
　　“快进来。”男人侧身把她让进屋子里。
　　
　　这完全是一间欧式古典风格的屋子。层层叠叠的暗紫金线窗帘、大弧形靠背的丝绒沙发、银漆扶手的长椅，还有壁炉里熊熊燃烧的火焰，显得老派而静谧。波浪一样的深褐色木楼梯通往二楼，楼上安安静静，似乎没有人。唯一有些突兀的地方，是所有窗户都装上了埕亮的金属栏杆，窗帘遮蔽得严严实实，没有一丝阳光透进来。
　　
　　这时男人已经在洗脸台前洗好手，挽起袖子，给简瑶泡了杯热茶，在她对面坐下。他身上有股淡淡的气味，挺熟悉的，但简瑶一时想不起在哪里闻过。
　　
　　男人的笑容很亲和：“先自我介绍一下，我叫傅子遇，这里的主人叫薄靳言，我是他的朋友。我们在寻找一名翻译，将他的一些文章，翻译成中文。”
　　
　　简瑶点点头。这个薄靳言，不知跟当年的主人是否有关，抑或已经物是人非。
　　
　　傅子遇从茶几下抽出一叠纸和一支笔递给她：“那就开始吧。坦白的说，我们需要测试一下，你是否胜任这份工作。半个小时的时间，请把这篇英文文章翻译出来。”
　　
　　简瑶翻了翻资料，抬头问：“有电脑吗？”
　　
　　傅子遇摇摇头，露出无奈的笑容：“靳言喜欢手写的东西。”
　　
　　“行。”简瑶拿起纸笔，埋头开始翻译。傅子遇起身去洗了洗手，没再管她，一个人靠在窗边喝茶去了。
　　
　　——
　　
　　“死者被性虐杀，手足均有捆绑痕迹，下~体多处撕裂性伤口……”简瑶翻译了几句，有点意外，抬头望去，傅子遇一脸淡然。
　　
　　简瑶以前翻译过的偏门资料不少，所以也没有太惊讶。只是过了一会儿，就遇到了不认识的词组，而且放眼全文，这种生僻词汇还不少。于是她开口：“有专业词典吗？”
　　
　　傅子遇笑笑，指指一旁的书架：“随意使用。”
　　
　　简瑶很快找到几本词典，眉目舒展，开始对照翻译。
　　
　　“sexhanges，性窒息；parentiside，弑亲……”她认识才怪。
　　
　　终于翻译完全文，又检查了一遍，时间刚过去二十五分钟。傅子遇似乎有些意外她的速度，接过扫了眼，说：“你等一下，我拿给他看看。”说完转身上楼。
　　
　　原来薄靳言人就在楼上。
　　
　　简瑶坐在沙发里，安安静静的等。
　　
　　很快傅子遇又下了楼，他在水池旁又洗了洗手，拿出手绢擦拭干净，这才在她对面坐下：“他还在看，需要点时间。”
　　
　　“好的。”
　　
　　两人闲聊起来。傅子遇微笑问：“你在B市念大学？”
　　
　　简瑶笑答：“对，明年毕业。”
　　
　　傅子遇点头：“不错。聊了这么久，你还不知道我是做什么的。”他顿了顿，笑呵呵望着她：“猜猜看？”
　　
　　他比简瑶年长几岁，又彬彬有礼，简瑶对他第一印象很好，笑答：“医生？”
　　
　　傅子遇眼中的笑意陡然更深：“你是怎么看出来的？”
　　
　　简瑶能猜对也挺愉悦，目光落在他修长白皙的手指上：“我也是瞎蒙的——我看你洗了好几遍手，很爱干净。你身上还有医院消毒水的味道。而且你的手指看起来……很像医生。”
　　
　　“谢谢！我把这话当成是夸奖。”他说。随即双手十指相抵，快速翻飞，就像两只灵巧的蝴蝶在起舞，只看得简瑶眼花缭乱。
　　
　　这么一来，两人倒是熟络不少。又聊了一会儿，话题回到薄靳言身上，傅子遇叹了口气，说：“我过些天就离开这里，有些不放心靳言。说实话，他的性格有些孤僻。”
　　
　　听他评价素未蒙面的薄先生，简瑶只礼貌的笑笑，没搭腔，也不追问。
　　
　　傅子遇看她一眼，又说：“他回来这么久，一个朋友也没有。我敢打赌，你们甚至都不知道，他是什么时候回来的。”
　　
　　简瑶笑意不变，还是没打算接话。可傅子遇似乎聊兴正浓的望着她，等她回答。如此热络的态度，令简瑶心头飞快闪过一丝怪异的感觉。但她也无暇深想，于是顺着他的话题答：“他是去年回来的吧？”
　　
　　傅子遇：“你怎么知道？”
　　
　　“去年我放假回家，路过这里的时候，没看到有爬山虎。刚刚进来的时候，爬山虎已经有四五米高了。我家爬山虎一年大概就长这么高。”
　　
　　不知不觉，两人聊了半个多小时，傅子遇低头看了看手表，微微一笑：“这样吧，时间不早了。你先回去，我再跟靳言商量一下，晚点给你电话。
　　
　　很感谢你今天能过来，如果他决定用你，会跟你签一份工作协议。你需要在这里连续工作二十天，所有翻译工作必须当场完成，资料不能带进也不能带出，内容必须保密。另外，他最近在静养，不喜欢有人打扰，所以未经允许，你也不能上二楼。其他细节，签协议的时候再说。”
　　
　　——
　　
　　简瑶从别墅出来时，已经邻近傍晚，太阳终于从云层中露脸，金黄的阳光遍洒山岭，满目都是晶莹剔透的树叶和落雪。
　　
　　简瑶对自己的翻译心里有数，感觉这份工作把握挺大。虽然雇主至今未露面，挺神秘，也隐隐透着古怪。但到底是老师介绍的工作，应该可靠。
　　
　　走到数米外的山坡上，简瑶又回头看了一眼，微微一怔——二楼的窗前有个人。那人穿着纯黑的西装，笔挺如刀裁，身体高挑修长，十分醒目。只是背光，看不清脸长什么模样。
　　
　　——
　　
　　简瑶一走，傅子遇就“噔噔噔”上了二楼。比起楼下的温暖优雅，这层只有一条狭长幽深的走道，通往数个密闭的房间，白生生的墙面没有任何装饰，显得阴森又清冷。
　　
　　尽头的房间门虚掩着。傅子遇一把推开门，就往门板上大刺刺一靠，全无面对简瑶时的优雅斯文，而是大吼了一声：“Fuck！”
　　
　　这一嗓子吼得响亮又畅快，令窗边原本低头看书那人，挑眉看他一眼，然后……继续专注看书。
　　
　　傅子遇也不在意，先从桌子上拿起简瑶翻译的那叠资料，往那人怀中一丢，说：“翻译准确、文笔优美！”又从口袋里掏出样东西，那是张细白光滑的纸，上面赫然用黑墨水手写了几行字：
　　
　　“Question1:傅子遇的职业？
　　
　　Question2:我搬来这里多久了？
　　
　　……”
　　
　　正是傅子遇跟简瑶闲聊时，让她“猜”的一些话题。
　　
　　他把这纸往桌上一拍：“你的这些问题，她也全分析对了。这回这个翻译，你满意了吧？”
　　
　　那人嘴角浮现浅浅的笑，却不置可否。傅子遇怕他又挑剔其他的，几乎是斩钉截铁的说：“你要是还不满意，自己翻译得了。还有，我不是你的助手，过几天就要回B市，别再指望我给你跑腿。”
　　
　　那人这才从书后抬头，十分怪异的看他一眼，慢条斯理的答：“我的时间，不是用来做这些无聊的事。”
　　
　　傅子遇被他说得一堵，又无可奈何，转而嘟囔道：“你是钻研杀人的专家，她只是个小翻译，干嘛还要考察人家的观察能力和思维能力？害得我绕着弯问问题，估计人家心里觉得我是个话唠……”
　　
　　那人朝他露出个特别温和的笑：“显而易见，我不能让太蠢的人翻译我的作品——一个思维不敏锐不细致的人，注定只能翻译出字面意思，无法理解细节的精致，和文字背后浑然一体的灵魂。”
　　
　　傅子遇有些无语，但也习惯了，又好气又好笑的问：“这个简瑶能理解你的灵魂吗？”
　　
　　那人兀自出了一会儿神，低头继续看书：“没人能理解。”</string>
	<string>熏然其人

　　这次放假回来，简瑶一个人住在警察大院的老房子里。那是父亲生前全家人的住所，母亲再嫁后，就一直空置着。
　　
　　已是傍晚时分，院子里许多人家都亮起灯火，饭菜的香味远近萦绕。而不远处的警局办公大楼，也有不少窗户亮着灯，警员们还在忙碌。
　　
　　简瑶一打开家门，就见妹妹简萱咬着个苹果，躺在沙发上看电视。扭头一见她，嘟囔：“你怎么才回来？我都等半天了。”
　　
　　简瑶随手把包丢在她身上，在她身边坐下：“我去面试了，刚结束。你不是下午才到家吗？我以为你要在那边多睡会儿。”
　　
　　她说的“那边”，是继父单位分的房子。事实上，姐妹俩绝大部分的童年和少年时光，都是在那幢房子里度过的。她们跟继父的关系也很好。只是那边房子不大，简瑶成年后，就提出住到这边来。有时候简萱也会两头跑，不过逢年过节，全家人都是在一起。
　　
　　简萱也在外地念书，今年大一。今天刚挨了十多个小时春运硬座回到家里，浑身懒散得不行。可一听姐姐提到“面试”，她来精神了，翻身坐起盯着简瑶：“我听妈说，你去‘那里’面试了？”
　　
　　简瑶微微一笑：“嗯，我去‘那里’面试了。”她把面试经过简单说了遍，只是因为保密要求，没提翻译的具体内容。
　　
　　谁知简萱的神色却变得有些高深莫测：“所以——你还没见过那个……薄先生的真容？”
　　
　　“没啊。”简瑶望着她，“怎么了？”
　　
　　“唉。”简萱忽然拍了拍她的肩膀，用非常凝重沉痛的语气说道，“姐，你要有心理准备。我应该是见过他的——他长得实在太吓人了。”
　　
　　简瑶一怔，脑海中条件反射浮现出二楼那个挺拔男人的身影。
　　
　　长得吓人？
　　
　　简萱立刻讲了来龙去脉。原来她去年清明节回家，有一次跟同学去山涧钓鱼，路过那幢别墅，看到了站在二楼的男人。那时简瑶人在B市没回家，所以不知道。
　　时间过去将近一年了，简萱还对那“惊鸿一瞥”记忆犹新。她有点恶寒的说：“他瘦得只剩皮包骨，眼睛凹下去，皮皱巴巴的——好像个骷髅……不，像妖怪！后来还有一次，我同学说好像在街上又看到他，戴着口罩，看不到脸——估计他也是怕吓到别人吧。”
　　
　　简瑶听完，只是沉默不语。简萱意犹未尽的说：“总之良心建议：如果那个人就是薄先生，以后你遇到了，不要看他的脸。”
　　
　　简瑶失笑：“那也不用。既来之则安之，他也吓不到我。”
　　——
　　又聊了一会儿，简瑶看时间差不多了，抬头望向对面的警局办公楼。某个她熟悉的窗口，灯还亮着。她说：“晚上叫李熏然一块吃饭。”
　　
　　简萱却说约了同学，风风火火走了。
　　
　　于是简瑶走到窗口，给李熏然打电话：“熏然，是我，简瑶。我回来了。”
　　
　　电话那头的男人沉默了几秒钟，然后简瑶就看到对面那个窗口，遥遥出现个人影。
　　
　　“先把脑袋伸出来，验明正身——我有望远镜。”他不紧不慢的说，但声音里已经有了笑意。
　　
　　这头，简瑶也笑了。
　　
　　——
　　
　　李家和简家是世交，李熏然比简瑶大四岁，两人从小玩到大，可谓是真正的青梅竹马。后来李熏然考上警校，见面就很少了。他毕业后又分配到外地，正好简瑶也念大学，就更难见面。算起来，已经有三年没见了。
　　
　　天色已经全黑，一盏盏路灯像浮动的明珠，一直点缀到长街的尽头。夜色暗柔而朦胧，李熏然就靠在警局门口的那根灯柱下，一身笔挺的警服，似笑非笑望着她。
　　
　　简瑶微笑走近他。
　　
　　到了跟前，正要说话，他颀长的身体却忽然往前一倾，伸手把她抱进怀里。
　　
　　“好久不见，简瑶。”他轻声在她耳边说。
　　
　　简瑶没想到他会突然抱自己，微微一怔，笑着伸手回抱住他。
　　
　　两人就在附近找了个小饭店，李熏然挑了个靠窗的位置，一扇雕花屏风与外间相隔，自成幽静独立的空间。他哗啦哗啦翻着菜单，简瑶就看着他不说话。
　　
　　他也不抬头，一边指挥服务员下单，一边说：“怎么？外国语学院见不着帅哥啊？”
　　
　　简瑶非常认真的答：“的确。”
　　
　　李熏然嘴角浮现笑意。
　　
　　他的长相是那种很端正的英俊，眉目乌黑、唇红齿白。也就是人人看到他，都会觉得小伙子很精神漂亮。但他从小就是个挺拽挺傲的人，这使得他的英俊看起来不那么好亲近。简瑶觉得，当了几年警察后，这种气质更明显了。他看起来更硬朗，也更冷峻。
　　
　　点好了菜，他一只手扶着椅背，一只手指点着桌面，盯着她一会儿，又笑了：“过几天带你去钓鱼？”两人小时候就经常漫山遍野的跑，钓鱼挖菜，不亦乐乎。
　　
　　“好啊。”简瑶也双手支着下巴望着他，“我在学校还加入了钓鱼协会，我的技术现在非常惊人，你做好心理准备。”
　　
　　李熏然大笑。
　　
　　过了一会儿又问她：“找男朋友了吗？”
　　
　　“没。你呢？”
　　
　　“也没，忙死了。”
　　
　　——
　　
　　饭刚吃到一半，李熏然手机响了。他接起讲了几句，神色变得凝重。挂了电话，他就拿起外套摸出钱包：“局里有事，我得走了。你自己慢慢吃。服务员，结账。”
　　
　　简瑶也拿出钱包：“我来吧。”
　　
　　李熏然笑笑，服务员过来了，简瑶刚想掏钱，他一把摁住她的手，力气大得惊人，动都动不了。
　　
　　等服务员找零的时候，李熏然想起正在办的案子，朝简瑶招招手，让她脑袋凑过来，低语道：“最近咱们这儿，可能有个拐卖组织在活动，专拐青少年。你和你妹虽然超龄了，不过还是当心点。这事儿还在查证，没有公开。”
　　
　　简瑶一愣，又听他说：“这事儿是这样的，也是你哥们儿我发现的。上个月我整理案件档案，发觉去年全市，还有下边区县，一共失踪了九个人，数字比往年高一倍。”
　　
　　简瑶听得蹙眉，接口问：“然后？”
　　
　　“然后我就做了个统计。九个人里，居然有八个是13-18岁的青少年，而且失踪地点都是在市里。这事儿就悬了。”他低声说，“根据局里记录，我又问了老刑警，这几年的确有拐卖组织在附近活动。他们很可能是被拐卖到黑工厂了。”
　　
　　简瑶眉头蹙得更重，李熏然拍拍她的肩膀：“我会破案的。”
　　
　　——
　　
　　简瑶把他送到小店门口。李熏然走出一段，一回头，发觉简瑶还站在原地，安安静静望着他。此时夜色已经深了，天上的月色和地上的灯光，朦脓交织仿佛已溶在一起，路上行人稀稀疏疏。李熏然看着简瑶，她穿着浅黄色毛衣、深色裤子，乌黑的长发披落肩头，越发衬得整个人白皙而娉婷。
　　
　　“进去！”他远远吼了一声，简瑶点点头。他转身，搓了搓双手，嘴里呵出口冷气，迈着大步走了。
　　
　　——
　　晚上简瑶向妹妹转述了李熏然的话，只听得她紧张兮兮，连说明天就去买防身工具。
　　
　　姐妹俩说了半宿的话。临睡前，简瑶想，刑警一忙起来昏天暗地，跟李熏然的钓鱼之约，只怕要无限期推后了。再想到白天的面试，眼下把这份工作干好最重要。
　　
　　第二天早上，简瑶还在厨房做早餐，快递就上门了。简萱签收了拿给她：“同城的。”
　　
　　简瑶打开一看，果然是傅子遇寄来的工作协议。她仔细看了遍，没什么问题，翻到最后签字页，却是一怔。
　　
　　甲方的名字已经签好了——“薄靳言”。
　　
　　简萱好奇的探头过来：“妖怪寄来的？这字怎么样？”
　　
　　简瑶答：“字如其人。就算他是妖怪，也是个很有风骨的妖怪。”
　　
　　简萱：“哦哦哦——”
　　
　　简瑶从包中拿出签字笔，刚想签名，笔尖触到纸面，又停下。她拿过来张白纸，演练了十多遍，这才提笔一挥而就，将自己名字签在他边上。
　　</string>
	<string>鱼鱼鱼鱼

　　潼城位于长江某条支流的边上，群山环绕，交通闭塞，过去一直很落后。直至2000年前后，高速公路开通，潼城的发展也像坐了高速列车，一发不可收拾，现在俨然成为本省经济重镇。跟其他新兴城市一样，潼城的人想出去，都去北上广；而周边的人，都想来潼城。
　　
　　简瑶上大学这几年，每年回家，更是能感觉家乡一年一个样--老建筑一片片消失，商品房楼盘拔地而起，人也越来越多。当然，也有不变的东西。譬如绕城而下的磅礴江河，譬如城市正中的人民英雄纪念碑，还譬如她眼前这幢仿佛脱离了尘世和时光而存在的僻静别墅。
　　
　　早晨八点，她如约而至，一敲门，发现门是开着的。屋内静谧而沉寂，只有阳光照射在深褐澄亮的地板上，似乎并没有人。
　　
　　昨天傅子遇还给她打了电话，说他很快要返回B市，让她今后在别墅一切自便。一楼除了上锁的房间，随她使用——看来这就是“自便”的开始。
　　
　　——
　　
　　客厅里一切摆设照旧，唯有靠近窗户的一隅里，多了张白漆方桌和椅子。桌上放着台笔记本电脑、一摞陈旧发黄的文档。按照协议，正式工作量较大，还是采用电子文档。
　　
　　简瑶在桌前坐下。
　　
　　窗外，远山蜿蜒，积雪连绵如同白缎；近处，松林皑皑，阳光清透越过枝梢树尖。再看向桌面，整洁如新——不错，工作环境挺惬意。打开电脑，她在桌面发现一个TXT文本文档，标题是个邮箱地址，内容是空白的。
　　
　　简瑶又起身，在屋内转了一圈。
　　
　　客厅旁就是餐厅，简瑶闻到点残余的烟火气，想来薄先生平时还是会在家开伙。她把自己带来的水果放进冰箱，里头几乎是空的，唯有半碗醇白的鱼汤。
　　
　　餐厅有个侧门，连接着一段走廊。简瑶往前走了几步，意外发现墙边角落里，扔着支钓鱼竿。
　　
　　小城水多鱼多，很多人家都备有鱼竿，这不稀奇。稀奇的是，面前这根是“DAIWA红虎”，还是限量版，全球最好也最贵的钓竿之一，许多钓客心中的神器。
　　
　　简瑶驻足欣赏了一会儿，又拿出手机拍了两张照片，这才继续朝前走。
　　
　　快到尽头时，她的脚步不由得一滞——
　　
　　面前是个非常幽暗的小厅，厚重的窗帘遮挡住两侧的窗，就像封死了一样，没有半点光线射进来，黑黢黢的，也很阴冷。小厅里什么也没有，只有两扇紧闭的门。
　　
　　简瑶走进阴暗里，走到其中一扇门前，轻轻一推——不动，上锁了。
　　
　　她转身走回客厅。也转得差不多了，她给自己泡了杯咖啡，埋头开始工作。
　　
　　——
　　
　　一上午的时间很快过去了，简瑶坐在原地，几乎都没挪过窝。
　　
　　她埋头工作的时候，傅子遇就坐在二楼某个挺幽闭的房间里，面前是满墙的监视器屏幕。
　　
　　他盯着其中一个画面里，简瑶纤细安静的身影，转头对薄靳言说：“这位小姐还挺安分老实。那我就放心了，明天我回B市。”
　　
　　薄靳言就靠在一张单人沙发里，长腿交叠搁在脚凳上。衬衣袖子挽起一半，手里拿着盘烤好的小银鱼，一条一条慢条斯理往嘴里放。他也抬头看一眼画面，低沉醇厚的嗓音没有半点起伏：“无聊，像木头一样。”
　　
　　傅子遇嗤笑：“人是你自己挑的。”一转头，发觉薄靳言手里刚才还满登登的盘子，已经空了。
　　
　　他默然片刻，还是忍不住念叨：“你不吃鱼会死啊？”
　　
　　薄靳言把长指上的鱼渣舔干净，微微一笑答：“不。但是欲求不满我会变得很暴躁。”
　　
　　——
　　
　　那天跟简瑶吃完饭，李熏然就开始忙。一方面要忙手头其他工作，另一方面也要跟青少年失踪的案子。
　　
　　但这个案子的调查，陷入了困境：失踪的青少年来自不同区县，失踪时间也不一样。李熏然找不到直接证据，证明真的有这么一个团伙存在。局长虽然对于他的发现非常重视，但凡事也讲求证据，所以现阶段也不可能正式并案调查、投入更多警力。
　　
　　这天下了班，李熏然专程请局里一个老刑警吃饭。
　　
　　正值冬夜，天寒地冻，两人坐在一家小店里，热气腾腾吃着火锅。三杯酒下肚，李熏然开始请教老刑警。老刑警瞥他一眼，说：“李熏然，你还真是没事找事儿。”
　　
　　李熏然笑。是啊，他的确是没事找事儿。但他找定了。
　　
　　他点了根烟，一边抽一边说：“我相信我的直觉。这些案子肯定是同样的人做的。别人不查，我不能放下。放下的话，孩子肯定还会继续这么一个个失踪。”
　　
　　老刑警不做声了，过了一会儿说：“不好查，全国这么大，你知道他们从哪儿来的？人到他们手里，要转手几次？他们又做得了无痕迹。
　　
　　想破案？两个办法：一、找个专家神探来。这种案子，不是我等凡夫俗子破得了的。不过现在的专家大多是扯淡，神探我活了大半辈子也没见过。所以这个可能性接近于零；
　　
　　第二条路，就是跟当年老简似的。九十年代初，那时候贩卖孩子的人比现在多多了。老简怎么破案？他化妆成要饭的，在那些农贸市场、汽车站，一蹲就是两月，后来都有人贩子托他‘运货’了。他连续抓了很多人贩子，立了大功。只可惜老简死得太早，太惨。不过现在这么干也不一定有用，城市大了，人多了，罪犯也变聪明了。”
　　
　　李熏然听完端起杯酒，不声不响的喝了。老刑警又说：“对了，那天跟你在一块儿的，是简瑶吧？小姑娘看着不错，越长越漂亮了。我说你小子可别犯浑，干刑警这一行，找个合适的不容易。好好对人家，早点把婚结了是正经。”
　　
　　李熏然：“结个屁婚。她是我妹。”
　　
　　——
　　
　　日子一天天过得很快，每天下午，简瑶都会把完成的文档，发送到电脑上那个邮箱地址。第二天查看，都有对方邮箱自动发送的阅读收条。但薄先生并未回复过邮件，也依旧没露面。
　　
　　没有消息就是好消息。
　　
　　只是时常看到别墅里那根极品钓竿，简瑶的钓鱼瘾也被勾了起来。
　　
　　连续工作一星期后，她特地挑了个天气很好的日子休息。这天是周末，太阳一出来，她就给李熏然打电话。
　　
　　接到她电话时，李熏然正穿着臭烘烘的“乞丐装”，满脸污迹的坐在城南市场的某个角落里，用一双黑巴巴的眼睛，不动声色的望着来往行人。他现在一有空就到这里蹲守，好几天了，但是毫无所获。
　　
　　“钓鱼？我值班呢。”他心不在焉的答，“这样吧，下午‘秘库’见，我时间说不准。”
　　
　　说完他就挂了。简瑶笑笑，继续收拾渔具。想起他说的“秘库”，倒是微微一怔。
　　
　　那是两人孩提时发现的一个钓鱼好去处——某条小溪的入江口。那里水草繁密，背风向阳，鱼总是很多。不过位置挺偏，一般人不知道。少年时代的李熏然，特意为其命名“秘库”。
　　
　　秘库人迹罕至，还有一个原因——它刚好就在传奇别墅所在山腰的下方，垂直距离并不远。鉴于鬼屋的声名，很多人都不往那边去。
　　
　　现在薄靳言回来了，从他家客厅的窗户向下眺望，就能将那里一览无遗。
　　
　　秘库已经不再隐秘了，但依旧是记忆中的好地方。
　　
　　——
　　
　　吃了午饭，简瑶就出发了。正是一天最暖和的时分，阳光将山林小径照射得斑驳静谧，经过别墅，再穿过一条杂草丛生的小路，眼前豁然开朗。黑褐色的岩石间，藏着一片波光粼粼的水面，一直延伸连接到远处的大江。这就是秘库了。
　　
　　周围静悄悄的，一个人也没有。简瑶找了棵大树坐下，钓了一会儿，忽然瞥见对面的一棵树下，也插着根鱼竿，但是没有人。
　　
　　就在这时，她手机响了，是李熏然，非常干脆的语气：“有事，来不了。”
　　
　　简瑶：“李熏然！我人都到了。”
　　
　　李熏然就笑：“那你自己玩儿，秘库归你了。注意安全，有事给我电话，我挂了啊？”
　　
　　简瑶叹了口气：“再见。”
　　
　　挂了电话，她坐了一会儿，起身走过去看那支无人竿。
　　
　　有点意料之外，但又是情理之中——居然是那根DAIWA红虎。
　　
　　简瑶心念微动，抬头四处张望。可是周围树静影深，还是半个人影都没有。
　　
　　她转身刚想走，猛的听到鱼竿上铃铛一阵急促轻响——大鱼咬钓了。
　　
　　——
　　
　　简瑶把钓上来的将近一尺长的鲤鱼，装进鱼篓里。她再看着空空的鱼钩，想了想，在原来他插鱼竿的地面旁，找到了饵料盒，给他原样装好放了回去。
　　
　　许是DAIWA红虎当真威力非凡，又或者难得暖和天气，鱼儿都变得踊跃。她还没走回自己的位置，他那边又有鱼咬钓了。半个小时的时间，竟让她替他钓起了六条鱼。
　　
　　薄先生还没回来。
　　
　　简瑶想他或许是有急事离开了，不过几万块的鱼竿就这么随随便便插在水边，幸好遇到了她。
　　
　　后来简瑶干脆把自己的竿子移到他边上，还把他饵料盒里最简单最原始的蚯蚓们，换成了她独家秘制的鱼食。顶级鱼竿搭配顶级鱼食，果然是无敌的。天快黑的时候，简瑶已经钓起满满两大篓鱼，再钓就装不下了。
　　
　　她颇费了些力气，才把鱼都搬回别墅，把他的竿子也放回原处。想了想，给他发了封邮件：“薄先生，河边偶遇你的鱼竿，不知你是否是有事回不来，冒昧的替你拿回来了，还有钓上来的鱼。若有不妥，见谅。”
　　
　　她提着几条鱼就回家了。晚上的时候，手机提示有新邮件。打开一看，居然收到了薄先生有史以来回复第一封邮件：
　　
　　“鱼很好。谢谢。”
　　
　　——
　　
　　第二天简瑶去别墅时，里面照旧没人。她也没把昨天的事放心上，埋头继续工作。
　　
　　休憩的时候，她去洗水果。一进厨房，就闻到阵阵鱼肉香味。打开冰箱一看，瞬间微微一震——好多鱼。
　　
　　昨天近乎空空如也的冰箱，今天琳琅满目。红烧鱼、清蒸鱼、泡椒鱼头、鱼肉切片、炖鱼汤……全塞满了，都是吃剩下的。
　　
　　简瑶关上冰箱，忽然有点想笑——大半夜一个人做了这么多花样，这位薄先生，一定是很喜欢很喜欢吃鱼啊。
　　
　　——
　　
　　日子就这么一天天过去，过了几天，又是难得的好天气，简瑶跟妹妹去了秘库。李熏然压根儿就没了踪迹，简瑶也没打扰他。
　　
　　刚到水边，又看到了DAIWA红虎。简萱认清了牌子，震惊道：“这谁的啊？太潇洒了。”
　　
　　简瑶也有点奇怪——怎么又把竿子扔这里不管了？
　　
　　这时简萱已经把竿子提了起来：“姐，空的。空钩，被鱼吃了？奇怪了，那鱼呢？这种钩鱼很难挣脱的。”
　　
　　简瑶闻言心念一动，低头找了找，发觉地上连饵料盒都没有。就一根竿子，光秃秃的插在这儿。
　　
　　简萱也发现了，更疑惑了：“这人是姜太公，等着鱼上钩呢？”
　　
　　简瑶已经明白了，微微一笑答：“不是等鱼。”
　　
　　等她呢。</string>
	<string>你好再见

　　从外表看，简瑶是个十分斯文秀气的女孩。她长发披肩，身材苗条，肤色白皙，五官清秀。尤其一双乌黑的眼睛，澄澄湛湛像是含着水光，为她增添了几分出众的气质。
　　
　　她穿衣打扮的风格也是如此：温婉、精致，但绝不夸张，也不马虎。她很懂搭配，普通的牌子穿到她身上，也会显得耳目一新。她讲话的声音也是温温柔柔的，但是绝不拖泥带水。她也会无拘无束的大笑，但举手投足间，总有一份女孩子的娉婷纤柔在里头。
　　
　　这种气质，遗传自温文婉约、性格贤淑的母亲。但她的骨子里，也有父亲的洒脱率性。虽然父亲只陪了她六年，但他讲过的许多话，小小年纪的简瑶都印象深刻。譬如“大丈夫行事顶天立地、问心无愧”，譬如“人生得意须尽欢”，还譬如“君子之交淡如水”。
　　
　　所以这天夕阳西下、垂钓结束时，她把“DAIWA红虎”和十几条鱼都留在岸边，就叫简萱收拾东西走人。简萱觉得不可思议：“扔这儿不管啦？”
　　
　　“不管。他自己会来拿。”
　　
　　等到快走到家门口时，简萱忽然想起个关键点：“姐，你给他钓了这么多鱼，他没其他表示？就发邮件说个谢谢？”简萱平时不是斤斤计较的性子，只是怕别人因为姐姐性格大方，趁机占便宜。
　　
　　简瑶没往这方面想，反而是薄靳言今天的举动，令她觉得，他似乎是个率性可爱的人。她笑答：“你不觉得挺有意思的？”
　　
　　简萱撇撇嘴：“我只觉得你对妖男太好了。真是妖怪也有春天啊。”
　　
　　简瑶失笑：“去你的。”
　　
　　——
　　
　　然而简瑶没想到，三天后，她真的收到了薄先生的“表示”。
　　
　　这天她刚进家门，就见桌上放着个大盒子，简萱正围着端详，貌似已经研究半天了。
　　
　　“B市，傅子遇寄来的。”简萱好奇的问，“他不是妖男的基友么？寄什么给你？”
　　
　　简瑶也猜不出来，傅子遇并没提过要寄东西。拆开一看，大感意外——居然是一根崭新的、跟薄靳言那根一模一样的“DAIWA”红虎！
　　
　　简瑶给傅子遇打电话。
　　
　　B市那头，傅子遇正一身白大褂，坐在办公室里翻看病历档案。他的声音听起来一如既往的轻快温和：“简瑶，请收下。是靳言托我买了送你的，谢谢你的鱼——你知道他有多喜欢吃鱼，没有别的意思。”
　　
　　简瑶当然不干：“这太贵重了。我不能收。”
　　
　　傅子遇微笑：“他已经有一根了，我又不钓鱼。你还给我们，这根竿子就浪费了。”
　　
　　简瑶还是不同意：“傅先生，钓鱼只是举手之劳……”
　　
　　“这是靳言的主意，你要还就还给他吧，我管不了。”傅子遇打断她，“不过以他的性格，没用的东西只会扔出去。你第二天就会在门口垃圾桶发现这根可怜的红虎。”
　　
　　最后简瑶没办法，只好表示：接受可以，但是翻译的酬劳不能要了。那也是一大笔金额。傅子遇见她态度坚决，也就随她去了。
　　
　　——
　　
　　挂了电话，傅子遇想起前两天跟薄靳言通话的情形。他没有骗简瑶，买红虎真是薄靳言决定的，只不过回赠礼物是他傅子遇提出的罢了。
　　
　　那天他照例给薄靳言打电话，关心近况。随口问及：“上次买的鱼吃完了吧？我再给你订一批送过来？”他想着最近天气寒冷，小城怕是很难吃到新鲜的鱼了。
　　
　　谁知薄靳言淡淡的答：“我有鱼，很多。”
　　
　　“哪儿来的？你自己买的？”不可能是钓的。他了解薄靳言的钓鱼技术，还没耐心，经常把鱼竿往水边一插，人就不知晃哪里去了。
　　
　　薄靳言答道很自然：“简瑶给我钓的。”
　　
　　傅子遇奇了：“她为什么帮你钓鱼？”
　　
　　薄靳言答：“这个我不关心。”
　　
　　傅子遇无语——果然是典型的“薄式答案”。不过薄靳言都说“很多鱼”，那一定是非常多了。他又问：“之前你还说人家是木头……那你打算怎么感谢她？”
　　
　　薄靳言沉吟片刻答：“你替我付她双倍酬劳。”
　　
　　傅子遇刚要说好，忽然又想：薄靳言也难交到个朋友。那简瑶看着人不错挺大气，要是回赠金钱，又显得冷冰冰的。于是说：“你还是送她礼物吧。”
　　
　　“好。这件事交给你处理。”
　　
　　“薄靳言！我不是你的老妈子！”傅子遇低吼，“我根本不了解她，怎么知道送什么？自己想。”
　　
　　薄靳言还真的专心想了几秒钟，然后微笑告诉他：“你去给她买一支一样的鱼竿，这样我就不用每天早上把鱼竿插到水边，晚上还要拿回来。”
　　
　　——
　　
　　收到鱼竿第二天，简瑶带了瓶酒到别墅。
　　
　　那是父亲生前的藏酒。他是千金散尽还复来的性子，所以他的酒，简瑶和母亲没专门留着。大部分被李熏然喝了，家里就剩下几瓶。不是什么名牌，只是本地老酒厂自制的，但是八十年陈酿，现在买不到了，也算是无价的。
　　
　　留下酒后，简瑶给薄靳言发了封邮件：“好鱼配好酒，请笑纳。”
　　
　　薄靳言没有回复。不过第二天简瑶去别墅时，看到那瓶酒被放在橱柜里，还浅下去一点点。
　　
　　——
　　
　　日子一天天过去，眼看就快过年，简瑶的翻译工作也接近尾声。
　　
　　简萱对此深表遗憾：“就这么结束？都没见到你那位一面？”她现在已经用“你那位”，替代“妖怪”。
　　
　　说不好奇是假的，简瑶也有一点点期待。然而她没想到，就在简萱问这话的第二天晚上，她见到了薄靳言。
　　
　　这天早晨天气很好，气温似有回升趋势。简瑶穿着薄棉服就出了门。别墅里一切照旧，漫长的一天寂静无声。
　　
　　因为工作进入收尾阶段，简瑶也想往前赶一赶，一口气就工作到暮色暗沉时分。等她收拾好东西时，窗外狂风大作，电闪雷鸣，雨已经哗啦啦下来了。
　　
　　这种天气是绝对不适宜走山路的。简瑶只好坐在沙发里等，又给家里打了电话，也嘱咐他们不要来接。
　　
　　这一等就等到天色深黑。
　　
　　——
　　
　　屋内灯光明亮，夜色映衬下，原本典雅漂亮的家具上，看起来异常光鲜可鉴。而窗外雨声雷声嘈乱，愈发显得偌大的屋子，空寂清冷。
　　
　　小城市供电不稳定，简瑶有过多次雨夜停电的经历，心想：可千万别停电。
　　
　　这念头刚闪过，空气里不知哪里传来“啪啪”电流轻响，简瑶眼前骤然一暗，已是黑漆漆一片。
　　
　　简瑶静坐了几秒钟，打开手机上的照明。微弱的光线下，周围的一切颜色惨淡。
　　
　　她缓步走到通往二楼的楼梯口前，扬声喊道：“薄先生！薄先生！”
　　
　　没有回应。
　　
　　简瑶拾阶而上，到了楼梯尽头，却是一愣。
　　
　　铁门。一扇黑漆漆的大铁门，封堵在二楼的入口，显得阴沉而森严。
　　
　　简瑶心头一凛，但还是走上前，敲了敲铁门，又喊了两句。
　　
　　没人。
　　
　　铁门上有一扇巴掌大的小窗，简瑶点踮起脚抬头望去，只见一条长长的阴暗的走道，数扇密闭的房门。猛的有闪电从窗口劈过，照亮某块阴暗的角落，白生生一片。
　　
　　简瑶一个人在别墅呆了这么多天，头一次感到有点害怕，转身就走。谁知刚走到楼梯拐角，猛的听到二楼响起不急不缓的脚步声——有人来了。
　　
　　简瑶抓着楼梯扶手，站在原地不动。
　　
　　雨夜滂沱，那人的脚步声隐隐约约、似有似无。突然“哐当”一声，铁门被拉开，一个高大的男人走了出来。
　　
　　周围阴阴沉沉，男人的样子根本看不清。但是他的个头非常高，至少有一米八五。蓦然间给她的感觉修长挺拔，但不显得魁梧，甚至还有几分清瘦。依稀可以辨认出，他穿着一件白色的……浴袍？难怪刚才她呼喊，没人应答。
　　
　　看到活人，简瑶的心立刻落回原处。因为对他的古怪孤僻已经有了些体验，所以此时此刻，他从这么一扇铁门后出现，简瑶倒也没觉得太怪异。
　　
　　他在楼梯口停了一瞬，似乎看了她一眼，就迈开长腿，走了下来。
　　
　　简瑶：“薄先生？”
　　
　　“嗯。”他低低应了一声，像是从鼻子里哼出来的。
　　
　　这时他已经快走到她跟前，隔着几层楼梯，高高大大的身躯看起来像一堵墙。楼梯转角空间有限，简瑶下意识往后退了一步，给他让出地方。她的声音中也带了客气的笑意：“薄先生，有手电……”
　　
　　——薄靳言已经走过她身旁，像没看到她似的，未作丝毫停留，径自往楼下走去。
　　
　　简瑶一怔，隐隐约约看到他已经穿过客厅，走向厨房，她快步跟下楼梯：“薄先生？”
　　
　　“没有。”他头也不回的答道。虽然只有简短的两个字，但是简瑶听清了，他的嗓音非常低沉悦耳。
　　
　　“那有办法修理吗？”简瑶试探性的问。虽然她不懂供电什么的，但她知道这幢别墅位置偏僻，很可能是独立供电。如果是烧坏了保险丝什么的，应该还是可以修的。
　　
　　这回薄靳言的脚步倏的停住，转身看着她，似乎思索了几秒钟，他答道：“从停电时的性状判断，是附近电网负荷过大烧毁了变压器。修理需要关闭电闸、开启变压器外壳、查找损毁部件、更换新配件即可。”
　　
　　这串话他说得非常流利非常快，而简瑶也无法不注意到，他那略显浑厚的男声，低沉而澄澈，就像钢琴低音部轻快的连弹。
　　
　　简瑶心头升起一丝喜意，刚要说话，就听他又开口了，语气温和、嗓音动听：“不过我不会修。我很忙，请你自便，但不要再打搅我。再见。”
　　
　　说完他就转身，穿过厨房，走进那条狭长的过道，身影隐入黑暗里。
　　
　　那条走道，连接的是那两个密闭的上锁的房间。
　　
　　简瑶站在原地，没有跟上去。
　　
　　她完全没想到，跟薄先生的第一次见面，会是这样的状况——
　　
　　她是在他家里工作，现在打雷下雨又停电，他却把她扔在客厅完全不想理会？
　　</string>
	<string></string>
</array>
</plist>
