<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>段净夕的父母结婚后开了一家经营装修材料的公司，两个大人对于店面的发展经营各有自己的看法，意见分歧大，几乎每天都有争吵，从鸡毛蒜皮的小事到公司的账务问题都可以吵上一架。
　　段净夕读一年级时还曾经试图进行劝阻，不料被争执中的大人推到茶几上，妈妈因为这件事对爸爸大动肝火，此后父母再吵架，她就学会了当一个旁观者。吵架结束后爸爸通常都会摔门而去，段净夕陪着妈妈平复情绪，起初几次她心里觉得难受，久而久之这种情绪就淡了。
　　在无休止的争吵中，两个大人的感情也日渐分崩离析。段净夕读小学二年级那年，两个大人离了婚，段净夕归爸爸抚养。
　　离婚当月，段净夕的妈妈就离开滨西去了另一座城市。一年后，爸爸娶了年轻漂亮的女助手，不久妈妈也再婚了。
　　段净夕觉得父母都从离婚中解脱出来了，而且都迫不及待地过上了美好的新生活。
　　
　　段茂扬每天都忙着公司的生意或者跟生意场上的伙伴打交道，一年下来跟段净夕说话的次数寥寥可数。继母跟段净夕没什么话题，对待段净夕虽然谈不上十分热络，但是也不至于像白雪公主的后母那么坏，平日用餐和吃水果都会客气地招呼她。
　　偶尔周末段茂扬也要回公司，继母一同随行。段净夕在家里的大部分时间就像一个透明人一样活着，来去不留痕迹，无人过问，算起来家中的保姆跟她说话是最多的。。
　　段净夕看过一些图书和电视节目，一直觉得自己在这样的环境下长大没有变得叛逆跟自己的性格分不开。她从来不觉得这是奇迹，只是做好自己应该做的事，尽管她知道，自己的力量是渺小的。
　　
　　段净夕不知道自己属不属于早熟的小孩，但是她知道，她的心智跟周围的同龄人有点不一样。
　　当其他同学在做作业、开心地吃零食和玩乐的时候，她始终用一种冷淡的眼光在看待周围的人情世故和身边所发生的事。
　　跟大人的世界不同，小学生的世界纯粹又简单。。
　　同龄人的心思都很简单，段净夕可以轻易地读出他们在想什么——只要她愿意花时间和精力去观察。
　　段净夕的学习成绩优异，加上身上冷静稳重的气质使班主任觉得非常可靠，便安排她当班长。
　　班长每天要做的事无外乎上课前叫起立、检查同学的作业、以及放学后检查班级的卫生，还有偶尔代表班级去开一下会。段净夕对这个职务谈不上热爱，也不至于厌烦，只是尽力做好每一件事情。
　　段净夕读小学期间遇到的几个班主任无一例外都信赖她，对她的工作能力相当满意，所以自从她一年级那年当了班长，这个职务一直陪伴了她六年。。
　　
　　青平小学六年级前都不会实行分班，段净夕所读的班级一直是二班。。
　　二班的学生在文艺和体育方面的才能都不是很突出，唯一让老师们略微感到安慰的，或许就是段净夕的学习成绩非常优异，每次都能在年级统一举行的考试中为班级争光。。
　　段净夕第一次听到陆慎析这个名字，是在四年级的第二学期。。
　　那天早上，段净夕被班主任叫到办公室安排班级事项，谈话结束后，英语老师招手把她叫了过去，抓起桌子上一摞英语试卷对她说：“段净夕，来！帮老师把试卷拿回去发给同学。”
　　段净夕连忙伸出双手去抱试卷：“好的。老师。”。
　　女老师对她赞扬地笑了笑，“段净夕很不错！这次考了年级第二名，又是全班第一。”
　　
　　自从在一年级第二学期的期中考试中考了年级第一后，段净夕就没从年级第一名这个宝座掉下过，不管是语数英单科还是三科总分。
　　她从来都不认为第一名只能属于自己，但是过去在每次考试都能将第二名远远甩开，所以很好奇到底是哪个人用亲身经历证明了“失败乃成功之母”这句俗语。。
　　没等她开口询问，英语老师已经说出答案：“第一名是四班的陆慎析，他比你高两分。”
　　这是一个段净夕过去从没听说过的名字。
　　她忍不住把那三个字念了一遍：“陆慎析？”。
　　如果有一个学生唱歌比她好听、或者跳舞比她好看，她听完就会置之脑后，绝对不会再想——这些本来就不是她所擅长的事。但是现在有一个人的分数比她高，而且是一个完全陌生的人，她觉得应该记住这个人的名字。
　　老师为她解除疑惑：“哦，是四班这个学期新转来的学生，吴老师夸了他好多次。”吴老师是班和班的英语老师。
　　
　　段净夕抱着试卷慢慢走回教室。
　　她一点也不想知道那个陆慎析长什么样子，更不想见到他。。
　　她的傲气不允许自己对这个新来的人投以过多的关注，即便以后他每次考试的分数都比她高，也不值得她花时间去了解。
　　知道有这么一个人的存在就够了。
　　
　　学校的教学楼空间有限，教室两两相邻，每个年级有四个班级，从一年级起，二班的教室向来都是跟一班相邻，跟四班不是一个楼上一个楼下就是隔着天井或者一条长长的走廊遥遥斜望。
　　那个时候，段净夕最喜欢做的事情看课外书。。
　　她没兴趣通过投入更多时间学习去达到超过别人的目的，该看课外书的时候还是照旧看课外书。
　　
　　因为职务关系，段净夕经常出入办公室。
　　有一次她无意中听到三、四班的数学老师跟英语老师谈论陆慎析——听他们的对话，陆慎析是从市立小学转过来的。
　　青平小学是一所名不见经传的学校，而市立小学是全市数一数二的小学。如果不是必须搬家的缘故，家长们应该都不会舍得让自己的子女放弃那里的学位转而来到教学设备和师资队伍都大为逊色的青平小学。
　　
　　学校每天下午四点半放学，段净夕等值日生打扫完卫生后检查一遍，一天的工作就算结束了。
　　她背起书包，锁好教室的门窗下楼。
　　这时已经过了五点，大部分学生已经回家了，教学楼异常冷清，只有十几个学生在操场或远处的篮球场上玩耍。
　　正值盛夏，太阳还没下山，夕阳的余晖裹着残留的热量斜斜地照在红色的跑道上，看上去很温暖。
　　每天的这个时候是段净夕最喜欢的时刻。喧哗和热闹尽去，只余安静和从容。
　　她像往常一样将书包放到跑道边上的一棵树下，沿着跑道慢慢地跑了两圈，然后才重新背起书包离开学校。
　　
　　从学校走回家差不多要二十分钟，有时段净夕走进路边的书店看一会书，所花的时间就更长。
　　段净夕快要走到十字路口时，看到前面那个男生停在了通向右侧街道的斑马线前——刚才他就一直走在她前面。
　　那个男生比她高了大半个头，穿着青平小学的夏装校服，背着一个黑色的斜肩包。
　　相比起有人的成绩排在她前面，段净夕更不能忍受有人一直走在自己前面——而且距离小于十米。
　　唯一值得安慰的是还有几分钟就到家了。
　　这个路口没有安置红绿灯，往来的车流变得稀疏后，男生迈出脚步过马路。
　　段净夕又打量了一下那个男生的侧影。他的衬衫从左肩部位斜向下被黑色的书包带压住紧贴肌肤，衬衫其余部位的布料随着他起伏的步伐微荡，看上去阳光又清爽。。
　　过完马路又走了大约六七分钟，他终于不再跟段净夕走同一条路——到了一个去年年底刚建成的住宅小区大门前，他转身走了进去。
　　段净夕所住的小区在马路对面，她还要过一趟马路。。
　　
　　随后而至的那个星期六，段净夕再一次看到了这个人。。
　　那天早上青平小学的礼堂举办了全区小学生英语演讲比赛。虽说是演讲比赛，但是四年级学生所掌握的词汇量毕竟十分有限，参赛者只需要在比赛中念诵一篇抽到的英文稿子，因此赛前年级并没有组织学生统一进行突击培训。
　　作为参赛学生，段净夕准时到了礼堂。四名学生都到齐后，两位英语老师将他们召唤到一起，简要地交代了演讲过程中需要注意的事项。
　　两天前段净夕就从英语老师那里知道参加本次比赛的学生名单。。
　　一班和三班那两个男生她从二年级起就认识了，剩下的那个男生穿着一件白色衬衫和一条黑色长裤，衬衫一点褶皱都没有，衣领干净整齐，白皙的手臂从挺括洁白的袖子中露出。
　　他正在凝神聆听英语老师嘱咐，漆黑的眸子在光线略显昏暗的礼堂中显得格外明亮——正是前几天她在路上看到的那个男生。
　　他就是陆慎析。
　　
　　比赛时间十分紧凑，每名参赛选手的准备时间不足十五分钟。段净夕抽到的签在四个人中排在最后，其余三人演讲结束后坐在观众席上观看其他学校的选手比赛时，她正跟随老师在礼堂外的空地上熟悉演讲稿。
　　演讲稿总体不算太难，演讲结束后，段净夕向台下的评委老师微笑致谢，在掌声中鞠了一个躬。
　　站直身子时，她的目光掠过台下，看到了坐在观众席东区的三个同伴。。
　　阶梯过道边上的光线有些昏暗，日光从暗红色窗帘的缝隙中漏进来，将周围浸入一个朦胧的薄网中。
　　很久以后回忆起跟陆慎析初次见面的情景时，段净夕所记得的就是这一幕：
　　他坐在过道边上的位子望着讲台的方向，身上的白衬衫在明暗交错的光线中拖出一层清冷的色调，笑容有些模糊，然而，清隽。
　　
　　一个多月后，在全校举行的期末典礼上，陆慎析跟她同时站到了主席台上。
　　两人在四年级的期末考试中总分并列年级第一，先后从校长手中接过了奖状和奖品。
</string>
	<string>暑假过后，段净夕升上了五年级。
　　新学期二班换了一个经验更丰富的英语女老师，段净夕也多了一个职务：英语课代表。
　　段净夕有好几次都在办公室里看到陆慎析，班的老师对他的吩咐事项中既有学生的作业提交情况也有班务安排。开学一周后举行的高年级班干部会议上，段净夕也有看到他的身影。显然，他现在已经成为了四班的班长。
　　
　　开学后不久就是一年一度的教师节，全校要进行黑板报评比。星期六早上，段净夕跟班上两名女生一起回学校出黑板报。
　　负责画画的女生叫柯艳秋，画完后她又不想马上回家，就拉了一把椅子坐在那里跟段净夕和另外一个女生聊天。
　　柯艳秋和那个女生在讨论最近热播的一部电视剧，段净夕没看过，一边对着稿子写字一边听她俩争论，后来突然听到另外那个女生感叹了一句“成绩很好”之类的话，她以为是在说电视剧里的某个角色，不禁产生了一丝好奇：“哪个人？”
　　柯艳秋答道：“四班的陆慎析啊！”
　　“哦。”段净夕回了一个字，准备写下一行字。。
　　“段净夕，你不觉得他长得很帅吗？”另外那个女生似乎对这个转校生很感兴趣。
　　也难怪，成绩优秀的转校生本来就够引人注目的了，何况这个人还有一副好长相。段净夕想起三年级时有一个漂亮文静的女生转到二班，班上的男生们也是热议了好一阵。。
　　虽然一点也不想讨论这个人，她还是开口：“还可以。”。
　　有时她也觉得自己的心理很矛盾：一方面她觉得自己完全不在乎他在那次考试中比她高出２分，但是因为他的突然出现，她第一次要面对自己的自尊心有多强的问题，而在过去，这是完全不在她的考虑范畴内的。
　　一句话概括，她现在就是看他不顺眼。
　　
　　“听说他妈妈跟爸爸离婚了，他现在跟他妈妈一起生活，而且他好像还有一个弟弟。”
　　手上的粉笔不知道是不是放得太久变得很脆，压在黑板上只用了一点力就断了。
　　段净夕放下那截残余的粉笔，拿起湿抹布擦去最后写的那个字，换了一根粉笔继续写：“你怎么知道？哪里听来的？”照理说应该没有哪一个人会主动跟别人说这些内容。。
　　柯艳秋十分得意：“听他们四班那个班主任说的呀！”。
　　段净夕心中暗自庆幸。幸好从二年级起就是保姆来学校替她开家长会，要不然她应该也会变成办公室里的老师们茶余饭后的话题。今天回家她必须再感谢一下保姆。。
　　她从椅子上跳下，拍去手上的粉笔尘：“他弟弟也在我们学校读书吗？”
　　柯艳秋摇了摇头：“不知道。没听他们那个老师说过。”。
　　
　　早上第三节数学课后，段净夕帮数学老师拿几何尺子到办公室，正准备离开办公室时，吴老师把她叫了过去，指着桌子上一沓十几厘米高的作业本说：“段净夕，帮老师把这些作业拿去给陆慎析好不好？”
　　段净夕当然不想去。她不喜欢去一个不属于自己的地盘，除非老师吩咐她办事，否则她基本不会去别的班的教室。而现在，四班的教室几乎可以说是她最不想去的地方。。
　　可她还是二话不说答应：“好。”
　　“谢谢！”吴老师冲她笑了笑，“还有叫陆慎析跟他们说，下节课要听写。”
　　“好的。”
　　段净夕抱起作业本，“老师，那我去了。”
　　
　　她抱着那摞作业本走向四班的教室，还没走过去就看到几名学生在三班的走廊前打闹聊天，而四班的走廊前一个人影也没有。
　　显然，四班的语文老师在拖堂——他们的数学老师和英语老师都在办公室里。
　　到了四班的教室外，段净夕把作业本放到走廊栏杆的平台上。等了一分多钟，四班的语文老师还在讲解一个成语的用法，丝毫没有下课的迹象。
　　课间的休息时间已经过去了一大半，她必须走了——下一节音乐课的上课地点在综合楼的四楼，从这边跑过去也得三分钟。
　　所幸她跟坐在窗户边上的那个短发女生还算比较熟。。
　　她抱起作业本走过去放在窗户的平台上，低声对那个女生说：“打扰一下！这是吴老师叫我拿过来的，麻烦等一下交给陆慎析叫他发下去。”
　　“哦好。”
　　“谢谢啦！还有，吴老师说你们下节课要听写。”。
　　女生点点头，低声回道：“嗯，知道了。我等下跟陆慎析说。”。
　　陆慎析跟那个短发女生之间隔了三排座位，眼睛望着讲台的方向，右手握着一支笔灵活地转动着，他似乎察觉到了窗户这边的动静，转头望了过来，两道剑眉上扬，目光中微露诧异。
　　段净夕承认，其实他几次看到她时眼中都没有流露丝毫得意的神情，而对于他曾经击败自己这件事她也并无一丝敌意，但是要让生性清高的她待他如战友般亲切是不可能的。
　　是的，生性清高。
　　那个时候，段净夕已经知道自己身上的缺点：傲气，清高，冷血。。
　　所以她传达完吴老师的话就转身走了。
　　
　　那一年，区教育局为了推动学生学习英语的兴趣，组织了一个全区小学生的英语话剧比赛，比赛日期定在十一月第一个星期六。
　　六年级的学生面临升学，比赛重任自然而然落到五年级的学生身上，学校把这次比赛的组织事宜交给了年级的两名英语老师负责。
　　上学期参加过演讲比赛的学生有三个入选。段净夕最初出演的是话剧的第一主角，其中有一幕要跟第二主角的男生手拉着手欢快地跳两下。她打从心底觉得这个剧情极度多余，无奈却无法修改剧本。
　　于是第一天的排练结束后，她单独对老师说自己有几句台词念不好担心会影响后面的排练。老师自然不会想到个中的真正原因，对她多番挽留和劝导，见她态度异常坚决，最后只能让原本出演第四主角的王楚怡跟她的角色对调。
　　
　　调换角色后的好处太明显了：不仅不用蹦两下，而且有很多幕戏站位的角度都是斜对着台下，不用对着观众——第一主角大部分表演都面向观众。。
　　段净夕觉得侧对着观众更有安全感，唯一不好的地方就是谢幕。。
　　话剧结束后，所有演员要站成一排手拉手向台下的观众鞠躬，每个演员根据最后一幕时所站的位置水平排成一行。
　　没调换角色之前，段净夕谢幕时左右两侧站的都是女生，调换角色后，谢幕时她的左手边是第一主角王楚怡，右手边则变成了陆慎析。
　　段净夕心里虽然明白在这种谢幕中跟男生拉一下手没什么，可是从小就不喜欢跟人有肢体接触的她还是无法安然面对这样的接触。
　　
　　所以调换角色后第一次谢幕时，段净夕站在一排演员中，当右边的陆慎析伸出左手拉她的手时，即便她在心里作了很多思想准备还是不自在地僵住。。
　　向台下鞠躬时，她觉得往日排练眨眼就过的两秒钟仿佛被无限拉长。演员之间隔着半个身子的空隙，她被动地弯腰，所有的注意力都放到右手上，可是即便如此右手仍是犹如机械般僵硬。
　　她身边的陆慎析似乎察觉到了，动作稍微停顿了一下，接着握住她的手的那只手掌松了很多。再站直身子时，头顶耀眼的舞台灯光重新泻入眼帘，陆慎析已经放开了她的手。
　　从那以后，每次谢幕陆慎析都没有握她的手，只是虚虚地圈住她的手。。
　　
　　临比赛前两个星期，学生们周末也要回学校参加排练。。
　　相比起呆在家里，在学校更让段净夕感到自在，所以她并不像其他几个女生那样排斥这种时间安排。为了打发时间，每次她都从家里带一本书去看。。
　　这天下午的头两次排练十分顺利，老师特意多拨了十分钟给大家休息。段净夕跟几个女生闲聊了一会，就走到观众席上看小说。
　　当她从那本厚厚的《基度山恩仇记》中抬起头时，就看到陆慎析坐在礼堂靠过道的座位上，一只手肘撑在膝盖上，似乎在想什么事情。
　　礼堂的座椅都罩了暗红色的绒布，他的半张脸隐没在交错的光影中。正值秋末的午后，一束阳光从窗户射进来，将礼堂中飞舞的尘埃照得一清二楚，却照不清他脸上的表情。
　　段净夕从他周围的气场判断出，他有心事。可是她不知道这个男生会有什么心事。
　　
　　一个男生在讲台那边喊了陆慎析的名字，陆慎析抬起头应了一句话，依旧坐在原位。
　　还是排练的休息时间，可是段净夕手上那本情节引人入胜、跌宕起伏的《基度山恩仇记》对她已经失去了吸引力。此时她更好奇的是这个男生在想什么。。
　　在那十多分钟的时间里，她一直望着陆慎析，注视着他的一举一动。。
　　而陆慎析则像一个雕塑一样，自始至终维持着那个姿势不动。。
　　在休息时间即将结束时，陆慎析终于抬起头，从座位上站起来的瞬间，他扫视了一眼四周，正好撞上段净夕的视线。
　　段净夕虽然知道自己只是出于好奇，但是心里也明白在这个年纪这样肆无忌惮地盯着一个男生看并不是一件好事，只好不自在地收回了目光。
　　
　　她仔细回想了一下这几天排练的情景，得出结论陆慎析这几天的心情都不太好——他的沉默寡言和偶尔锁起的眉头就是最好的证据。
　　虽然平时排练段净夕只跟几个女生闲聊较多，完全不了解他的性格，但是印象中之前能经常在他脸上看到笑容。
　　而不像现在这样沉默。
　　他成绩优异、能力出众，才转来这里一个学期就当上了班长，年级的几位老师和主任皆视他为人才，能够让这样的他烦恼的应该不是学校里的事。。
　　段净夕的脑海中浮现那次出黑板报时柯艳秋说的话。。
　　
　　那天排练的最后，他们照旧要对台下的观众鞠躬谢幕。。
　　段净夕没有等陆慎析来拉她的手。
　　所有演员在台上站成一排时，她主动伸出手握住了右侧的陆慎析的手。。
　　男生的手掌带着一种暖意，不若想像中冰冷。。
　　陆慎析先是一愣，接着从善如流，握住她的手向台下鞠躬。</string>
	<string>离话剧比赛还有十天左右时，他们的演出服装终于做出来，送到了老师的办公室。
　　星期四那天下午，老师想让他们穿上演出服排练，于是排练前就吩咐段净夕和另外两个学生把演出服拿到礼堂。
　　段净夕不知道衣服是什么料子，只觉得很重，压得她的双臂发麻。。
　　走到楼梯口的时候，她忽然听到一副清朗的声音从上空飘下来：“这是演出的服装吗？”
　　她抬头一看，陆慎析背着一个黑色书包居高临下地站在台阶上。进入十月中旬后，空气中就开始飘浮一股若有似无的凉意，他仍旧穿着短袖白衬衫，看上去格外利落清爽。。
　　“嗯。”
　　陆慎析三步并作两步从上面的阶梯踏下来，从她手上接过那一堆衣服，诧异于几件演出服的重量：“就你一个人过来拿这些东西吗？”这对于一个女生而言太重了。。
　　手上的重担被移走，段净夕一下子轻松了许多。。
　　“不是，还有郭志军和吴蓓，他们先过去了。谢谢。”她要清点衣服和道具，还得锁门，就让他们先走了。
　　她刚刚才领教过那堆东西的重量，知道它实际远比看上去沉，当下取过放在那堆衣服最上面的几件道具减轻他的负担。
　　看样子他刚从教室出来，估计四班刚刚才下课。。
　　虽然心里还没完全想好对这个人的定位，段净夕也深谙这个时候自己于情于理都不应该丢下他先行离开，于是跟他并肩下楼。
　　平时她面对他时几乎都是冷着一张脸，现在他却对她摆出这么一副乐于相助的态度，段净夕觉得自己要是还对他摆出一副冷冰冰的面孔的话，似乎说不过去。。
　　她决定退一步，暂时收起之前那种千年寒冰的态度，随便找了个话题：“你们班刚下课吗？”
　　他点头，嘴角牵出的笑容浅浅地融在日光中：“是。我们老师喜欢一次性讲完所有题目。”
　　
　　当天的排练开始前，段净夕特意瞥了陆慎析一眼。。
　　今天的他不复前几天那副心事重重的模样，而是又变成了初到这所学校的样子，看上去心绪平和、平易近人，就好像前几天什么事也没发生过。
　　不知道他之前所烦恼的事是不是已经被彻底解决了。。
　　
　　在此之前，段净夕曾经有想过自己为什么要理会他的心事有没有得到解决——毕竟他跟她毫不相干，而这也不符合她往日的作风。
　　那几天她刚把《基度山恩仇记》看完，最后得出的结论是，她喜欢一切都在料想中的感觉，而他恰恰属于不受控制的因素。
　　
　　区小学生英语话剧比赛如期在实验小学举行。。
　　比赛当天下午秋阳高照，实验小学的礼堂里聚集了来自十多所小学的学生和老师，显得分外热闹。表演结束后段净夕就立即去洗手间洗掉一脸的妆，按理说洗完脸应该马上回礼堂的，但是里面的空气很闷，她更愿意呆在外面吹风。
　　她在礼堂外百无聊赖地闲逛的时候，碰到了王楚怡和陆慎析，前者一看到她就使劲向她招手示意她过去。
　　王楚怡是四班的语文课代表，留着一头清丽的碎发，长相十分甜美，因为她替代自己出演第一主角，段净夕心里对她一直怀着几分歉疚。
　　虽然觉得自己过去的话会有当电灯泡的嫌疑，段净夕还是走了过去，站到王楚怡旁边。
　　“段净夕，你也去洗脸了吗？跟陆慎析一样。”。
　　段净夕暗暗想，明明是她先去洗脸的好不好，怎么变成她跟他一样了？从时间的先后顺序上讲，应该是他跟她一样。
　　出于对王楚怡的好感，她还是开口：“是吗？”。
　　“是啊。”王楚怡自然听不出她语调中的敷衍。。
　　陆慎析听了她的话却笑了笑，一手闲适地撑在栏杆上，剑眉微抬，一双漆黑的眼睛看着她，瞳仁里流动着忽深忽浅的光。
　　
　　不过王楚怡的心思并没有在这件事上停留，更关心另一件事：“老师说校长很重视这次的比赛，他希望我们拿个一等奖回去，你们觉得我们能拿一等奖吗？”。
　　“可能性很小。能拿个三等奖就很不错了。”回答的是陆慎析。。
　　“为什么？”
　　“我们的主题没什么深度，实验和青实小学的主题比我们好，评委老师会更喜欢这样的故事。”
　　王楚怡疑惑地看着他，一脸茫然。
　　她只是单纯地觉得大家表演很用心，排练了这么久，也在台上很好地诠释了整个故事，而且刚才谢幕时台下的评委老师们似乎非常欣赏他们的表演。。
　　段净夕开口：“因为他们的故事讲的是圣母玛丽亚？”她刚才没留意青实小学的表演，只知道实验小学的故事跟圣母玛丽亚有关。
　　尽管老师和校长对他们抱以莫大的期望，段净夕心里也隐隐觉得他们学校不可能拿一二等奖。
　　他点了点头。
　　
　　最后他们学校在那天的英语话剧比赛中获得了第四名。。
　　话剧比赛的结束意味着他们几个演员的作息可以跟其他学生一样了，下午放学后不用留下来参加排练话剧，星期六也不用回学校——刚刚入选奥数培训的学生除外。。
　　星期三早上，段净夕跟班上两名男生被数学老师叫到办公室，并被告知从本周开始他们星期六早上要回学校参加奥数培训。
　　
　　那天下午第一节是美术课。
　 　美术老师是这个学期刚从别的学校调过来的，体形微胖，看上去其貌不扬，学识却很丰富，讲课十分风趣幽默。他对段净夕的素描极为赞赏，不止一次对她说： “段净夕啊段净夕，要是你画水彩画的时候能跟素描一样用心，老师就很高兴了。”段净夕只是愧疚地笑笑。有几次她拿起水彩笔想用心画，然而结果都不理想，最 终只能承认她还是更喜欢用简单的黑白线条勾勒出的画。
　　课上，老师给他们展示年级四个班上一次作业的优秀作品。陆续介绍了几幅画后，老师举起一幅看上去有些抽象的水彩画对下面的学生说：“接下来再给大家看一幅我很喜欢的画——这是四班的陆慎析画的画……”
　　老师花了将近五分钟的时间讲述他为什么喜欢这幅画，还讲了这个学生的画作给他带来的各种惊喜。
　　段净夕坐在座位上，一边听讲一边仔细审察老师手中的水彩画，最后不得不承认，她也喜欢这幅画的布局和色彩。
　　
　　后来上了初中，有一次段净夕跟陆慎析聊起这个美术老师，陆慎析跟她说这是他九年读书生涯中印象最为深刻的老师。
　　起初段净夕不是很理解为什么他会说一个每周只给他们上两节课的美术老师对他的影响是最大的，直到读高二那年，她在艺术课上画油画时才深切体会到他的心情。。
　　
　　段净夕参加话剧排练期间，都由副班长代替她检查班级的值日卫生，比赛结束后，这个任务重新落回她肩上。
　　下午放学后，她留下来检查值日情况。
　　学校规定每个班除了要打扫本班的教室外，还要打扫校园的一块公共区域。二班被分到植物园跟学校外墙之间的一块空地。
　　最近学校在请人修补外墙的瓷砖，空地上留了不少瓷砖碎片，段净夕用垃圾铲装垃圾时，忽然听到柯艳秋叫起来：“段净夕，你的脚在流血！”而且是好多血。。
　　“什么？”
　　段净夕顺着她的手所指看向自己脚下，这才发现脚下的藏青色方砖上流了一滩鲜血。
　　这几天的天气都很暖和，今天早上她便穿了凉鞋出门。提起右脚就看到鞋底露出一截尖锐的玻璃，殷红的血还在不停地从脚掌流出来。
　　她所有注意力都被脚下的血迹夺去了，不知道是不是太疼，反而感觉不到一丝痛楚。
　　其余几人都说：“赶快去校医室看看吧。”
　　段净夕悬空右脚，交代其他值日生倒完垃圾就回家，才搀着柯艳秋走向校医室。
　　这个时候学校里大部分学生都回家了，柯艳秋不禁有些担心：“放学这么久了，不知道校医在不在……”
　　路上段净夕也在想这个问题。如果校医不在的话，她也不知道该怎么办，所以当看到校医室的灯光还亮着时，她彻底松了一口气：“门还开着，校医还没走。”。
　　校医室里还有别的学生。
　　陆慎析坐在医务室的长椅上，目光落到她的脚上时露出一丝讶异。。
　　
　　校医帮她拔出碎玻璃的那一刻，段净夕才终于感觉到一股锥心的疼痛——她不知道自己刚才是怎么忍过来的。
　　校医是一个三十多岁的妇女，问道：“打电话给你父母了吗？”。
　　段净夕迟疑了几秒才开口：“医生，我父母现在没法来学校。我这样应该不是很严重吧？”
　　这种伤口对一个小学生来说算很深的。校医抬起头来审视她的神情，在她脸上看到了一种不属于这个年龄的冷静，最后只能说：“不来也行，止住血就应该没事了。”。
　　
　　校医替段净夕清洗了伤口，然后给她的脚掌缠上几层厚厚的绷带，又嘱咐她这几天不要让伤口沾到水。
　　段净夕问：“医生，那我能洗澡吗？”
　　“先别洗吧，你都伤成这样了。”校医不容置疑地说，开始收拾东西。。
　　刚才她帮段净夕清洗伤口的时候段净夕非常配合，不像其她女生一样哭个不停，而且对她很尊敬，讲话又有礼貌，因此她的口气很温和。
　　“如果一定要洗呢？”段净夕无法忍受一天不洗澡。。
　　校医没想到会碰到这么固执的人，一时倒不知道怎么回答。。
　　一旁的陆慎析突然开口：“医生，能不能用一个塑料袋包住脚，洗澡的时候小心不让伤口碰到水？”
　　段净夕转头看向他，那一刻心里生出一种名为“感激”的情感。。
　　她不知道包扎伤口得多久，进校医室后就让柯艳秋先回家了——柯艳秋每天五点要准时回家看动画片。
　　话剧排练那时她听王楚怡说过，四班的学生每天轮流当值日组长，陆慎析并不用像她一样每天留下来检查卫生。
　　不知道他到底是哪里不舒服，现在还留在校医室。。
　　
　　他的回答无疑让校医轻松：“可以。不过要注意一点，别沾到水。你的伤口很深。”
　　“我知道了。谢谢医生！”
　　校医给她开了外敷药水和消炎药，“这个拿回去涂。明天下午过来换一下绷带。”
　　“谢谢。”
　　校医拿起桌子上的一个小袋子递给陆慎析，嘱咐道：“饭后吃，每次两粒。”
　　段净夕看向那个袋子，却看不出里面装的是什么药。。
　　校医将医疗器具都收起来，接着脱下白大褂挂好。。
　　段净夕知道校医要下班了，也扶着墙站起来，准备回教室——她的书包还放在教室里。
　　校医转头吩咐陆慎析：“哎，你扶着她走吧，她的脚还没好，最好别用力。”她刚才帮段净夕包扎伤口时听到陆慎析跟段净夕聊天，知道他俩相互认识。。
　　陆慎析站起来：“是。”
　　
　　出了校医室，夕阳早已移到了教学楼后方。
　　教学楼大部分教室的灯已经关了，操场上也只剩下十几个学生在嬉戏，原本不大的校园显得有些空旷。
　　段净夕把刚才在医务室里没说出口的话说出来：“我自己也能回家，不用麻烦你了。拜拜。”
　　陆慎析拉住她的胳膊，对她的话置若罔闻，只是问她：“你的书包呢？”
　　“在教室里。”
　　“我上去拿，我的书包也在上面，你在这里等我。”。
　　他把手上那袋药交给她，“先帮我拿着。”
　　段净夕抓住那袋药，问他：“你知道我坐在哪里吗？”。
　　“你们班还有人在上面吗？”他挑高浓眉，不问反答。。
　　从刚才打扫卫生到现在已经过去了差不多半个小时，值日生应该都回家了。
　　段净夕抬头望向二班教室所在的位置——这个角度无法直接看到教室里的情形，但是能看到楼道的光线有些暗，走廊上一个人影也没有。
　　她答道：“没有。”
　　在这种情况下，教室里唯一剩下的书包就是她的。。
　　
　　段净夕静静地坐在教学楼外一棵树的花坛边上，仰头望着教学楼。。
　　一抹晚霞从教学楼交错的建筑物缝隙中漏出，西边的天空被涂成了瑰丽的浅红色，看上去分外夺目。
　　看着眼前的情景，段净夕蓦地想起早上美术课上看到的陆慎析的画。。
</string>
	<string>坐在花坛那里的时候，段净夕很想打开袋子瞧一下里面装的是什么药，最终还是什么也没做。
　　班的教室位于教学楼东侧，她所坐的位置看不到班的教室，却能看到班的教室。
　　整栋教学楼里只有寥寥几个学生的身影。段净夕坐了一会儿，抬头望向教学楼五楼，远远地看见陆慎析的身影从教学楼东侧出现。他穿过长长的走廊走到班的教室前打开门走了进去，再出来时身上多了一个黑色书包。
　　又过了几分钟，一阵脚步声从楼道那里传下来。。
　　声音越来越近，接着他重新出现在眼前。
　　
　　陆慎析把她的书包递给她，“你的。”
　　“谢谢。”
　　段净夕接过书包，仰头看着他，踌躇着开口：“喂……”。
　　“什么事？”他居高临下地看着她，黑玉般的眸子掩映在落日余晖中，散射出别样的柔和。
　　“能不能问你是哪里不舒服？”她举起校医给他开的药。。
　　陆慎析领会过来，抬起右脚向她示意：“踢球的时候把脚弄伤了，皮肤有点过敏，校医说要观察一下反应，所以涂完药水就在那里坐了一会。那个是校医开的过敏药。”。
　　他穿着校服秋装长裤，段净夕没法察看他的伤势到底如何。。
　　盯住他的脚看了几秒，伸手在没受伤那只脚上比划着询问：“是靠近膝盖这里还是靠近脚掌这里？”
　　他伸出手指了一下小腿中部的位置，“靠近中间这个地方。”。
　　段净夕盯着他的脚又看了几秒，“没事吧？”。
　　“没事。”
　　他笑起来，目光移向她的右脚，清朗的嗓音如水波潺潺扩开：“这句话应该是我问你吧。你刚才脚上流的血还挺壮观的。”
　　他又瞥了一眼，“不疼吗？”
　　“刚才没觉得很疼。”
　　“现在呢？”
　　段净夕轻轻动了一下脚，实话实说：“有点疼。”。
　　他的嘴角露出一抹浅笑，“流这么多血还不疼？真不知道你的神经怎么长的。”
　　
　　段净夕也低头瞧了一下右脚，抬起头时正了正脸色，“我自己能回家。你先走吧。”
　　陆慎析眉梢微微一挑：“是吗？你打算怎么回去？”。
　　“我有自行车。”
　　他的神情就像是听到了什么天方夜谭：“你连路都走不了，还想骑车？”
　　“我……”段净夕找不到理由反驳。
　　“我送你回去吧。我也要回家，刚好顺路。”。
　　陆慎析看着她沉默的表情，知道她算是同意了。。
　　她似乎很抗拒别人的帮助。
　　
　　想到她刚才说的话，陆慎析问：“你会骑车？你不是走路上学的吗？”他有好几次都在路上看到她。她走路的时候就像一阵风，心无旁骛，只认目的地。。
　　“平时是走路上学。昨天中午看书看过头了，我怕迟到就骑车来学校了。”
　　自行车是升上二年级时妈妈买给她的。当时段净夕的妈妈完全没考虑到那辆自行车的座垫高度对一个七岁的女孩来说太高，段净夕刚学骑车那会脚尖只能勉强够到踏板，为此吃了不少苦头。因为家离学校很近，她学会后就没再骑了，车子一直放在楼下，只是偶尔放假外出时会骑一下。
　　昨天骑车属于偶然事件，放学后她也忘了把它骑回家，现在还寄放在学校的自行车棚里。
　　
　　段净夕准备说下去之际，突然听到他问：“看什么书？”。
　　“啊？”
　　这个突如其来的问题让她足足愣了几秒钟，然后才在他的注视下回过神：“《悲惨世界》。”
　　说出口后，她忽然觉得这个书名有点呼应她今天的状况。。
　　陆慎析点点头，对她说：“既然有车，那我们就骑车。”。
　　她的脚伤严重，走几步路或许不成问题，将近二十分钟的路程却过于遥远，而有了自行车一切问题都迎刃而解。
　　
　　段净夕讷讷地看着他，歉疚地说：“但是——后面那个车胎没气了。”她昨天骑出了一身汗才急匆匆地赶到学校。
　　他展开笑容，眉眼间俱是轻松：“没关系，有总比没有好。可以去打气。”
　　“你的脚能骑车吗？”
　　“当然。我的脚又没残废。”
　　他的言下之意是说她的脚现在就跟残废一样？。
　　段净夕算是见识到了他的幽默感。
　　
　　学生们的自行车不能骑进校园里，陆慎析扶着她走去正门外的车棚取车。
　　所幸车子的后胎并不是完全没气，而且学校正门一百米处就有一家维修自行车的店铺。陆慎析先骑车载她到那家店铺给车胎充气，接着送她回家。。
　　夕阳已经半沉到远处的青山后，只在大地上留下一束浅而散的光。。
　　马路两侧种了两排绿化树，树叶茂盛繁密，将喧嚣的机动车道跟自行车道隔绝开来。
　　车轮一圈接一圈地快速转动，道旁一棵棵树木随着车子的前行移到了身后。
　　段净夕侧身坐在后座上，一只手抓着后座的横杆，另一只手抱着他的书包，目光所及就是他的后背，脊背随着他骑车的动作微微起伏。往上是后颈和乌黑的后脑，头发修得很短。衬衫很干净，线条紧实的手臂从袖子下方一直延伸到手把上。
　　她坐在后座中间靠近尾部的地方，凉风飒爽，他的衬衫被风吹得鼓了起来，时不时地触到她的手臂，接着又荡开。
　　深秋黄昏的风从身边掠过，一阵阵拂到脸上，她的鼻子闻到了一种男生特有的淡淡的味道。
　　
　　他骑车很平稳。车子经过不平坦的地势他会提前减速，偶尔迎面有人骑车跟他们擦肩而过，他也能轻巧地避开——段净夕遇到这种情况一般都是直接刹车停下。。
　　到了拐弯的路口前，他放缓了车速，段净夕听到他说了一句话，却没听清楚，“什么？”
　　他的声音顺着风吹到耳畔：“我说你这辆车还挺好骑的，就是矮了一点。”
　　他比较的对象应该是以前骑过的车。
　　段净夕探头看向他的腿。
　　这是一辆女式自行车，给她骑刚刚好，对他来说却还是矮了一点，他们之间的身高差别就在这里。
　　
　　由于是骑车，平时差不多要花分钟的路程一下子缩短，很快就到了她住的小区前。
　　段净夕这才发现他刚才过了十字路口就把车子骑到了她这边的人行道——她住的小区处于学校的对角线上，上下学要过两次马路。也许他觉得到了小区门口才过马路不安全。如果按平时她的习惯，过了十字路口会继续往前走。
　　陆慎析将自行车拐进她住的小区，“接下来怎么走？”。
　　“往右拐——直走——”
　　“然后呢？”
　　“在前面停。”
　　随着一记刹车，车子在一栋十二层高的白色住宅楼前停下。。
　　
　　段净夕一手扶着车，左脚落到地上站好。
　　刚好有人从楼里出来，省去了按门铃的举动。。
　　陆慎析帮她把车子推进楼道停好锁上，将车钥匙递给她，望了一眼锃亮的电梯门：“要不要我送你上去？”
　　他们这个小区是三年前建成的，住宅楼配有电梯，但是段净夕平时极少乘坐，听了他的话下意识地忘了电梯的存在。
　　“不用了，我自己能上去。”如果不是她的缘故，他早就回家了。。
　　段净夕怕他不放心，又加了一句：“就在……四楼。”。
　　她本想撒一个善意的谎言说二楼，但是不知道为什么临说出口时还是改变了主意。
　　或许是潜意识里不喜欢撒谎，又或许是不想对这个帮了她的人撒谎。。
　　
　　陆慎析回想起话剧排练初期拉她的手她也会僵上半天的情景，以为她是想避免其后的肢体接触，便不再勉强，“那好。我走了。”
　　段净夕把书包还给他：“今天谢谢你。”他的药之前就放进书包了。。
　　“不客气。走了，拜拜。”
　　“拜拜。”
　　陆慎析按下门锁的按钮，推开大门走了出去。。
　　段净夕没有马上上楼，仍然站在原地，透过不锈钢大门的缝隙观察外面的情形。
　　楼道里的灯光很昏暗，看得并不清楚，大门阖上后，男生的身影很快消失不见。
　　她这才扶着按下电梯按钮。
　　
　　保姆听到门铃后来给她开门，见她走路一瘸一拐的，马上问：“净夕，你的脚怎么了？”
　　“不小心踩到玻璃了。”
　　“哎呀！怎么那么不小心。疼不疼？”保姆已经看到她脚上的绷带，有些心疼。
　　段净夕朝她宽慰地笑了笑：“陈姨，没事，不是很疼。校医替我包扎过了。”
　　
　　陆慎析走出她的小区大门时天已经快黑了。
　　马路对面就是他住的小区，走过去分钟也不用。。
　　走到自家楼下时，陆慎析忽然察觉裤兜里好像有什么东西。。
　　他将手伸进裤兜，摸出了一枚钥匙。
　　是刚才去他们班的教室前她拿给他的门钥匙。    吃过晚饭后，段净夕回了房间，用一个塑料袋小心包住右脚。虽然花了很长时间，但总算是顺利地洗完澡。
　　段茂扬跟继母常霞在客厅看电视，两个大人间或聊一两句话，都没发现她走路的姿势跟平时不一样。
　　段净夕的父母买房时把四楼的两个单位都买了，装修时请人打通了中间的墙，所以整层楼都是段家的，一百七十多平方米的空间十分宽敞，段净夕有自己的房间和浴室，拥有绝对的个人空间。保姆的房间在她隔壁，段茂扬跟继母的卧室和书房则在客厅的另一侧。。
　　洗完澡后她坐到书桌前，看着桌子上的药水发了一会呆。。
　　下午她在教室里已经做完了当天的作业。如果是在平时，她会继续看没看完的书。但是她想了一下，拿出画纸和水彩颜料开始画画。
　　
　　翌日早上第二节是语文课。
　　课间段净夕坐在座位上默背课文，一个刚从洗手间回来的女生对她说：“段净夕，陆慎析在外面找你。”
　　段净夕愣了两秒，望出教室时果不其然在走廊上看到一道白色的身影。他半倚着栏杆，姿势看上去相当随意，带着这个年龄的男生特有的朝气与阳光。。
　　“知道了，谢谢。”
　　她放下课本，一瘸一拐地走出教室，一时摸不清他找自己能有什么事。。
　　直到看到他从裤兜里掏出一枚钥匙，她才恍然大悟。。
　　柯艳秋那里也有一把门钥匙，她上学比段净夕早，每天基本都由她开教室的门。所以直到此刻段净夕才发现钥匙没在自己身上。
　　“你们班的钥匙，昨天忘了还给你。”
　　“谢谢！”
　　陆慎析没有立刻就走，而是半屈了身，双手撑到膝盖上，低头察看她缠着绷带的脚：“你今天怎么来学校的？”
　　因为这个动作，他整个人都落入段净夕眼底。浅金色的阳光扑簌簌地落了他一身，在他乌黑的发顶流淌着。
　　“走过来的。”今天她早起了二十分钟，最后比平常早了八分钟到达学校。
　　段净夕在心中衡量，觉得自己的态度还算友善。。
　　他听后微微一笑，重新站直身体，“走了。”。
　　
　　他转身就走，留下段净夕站在那里，只看到他飞扬的衣角迎风招展。。
　　明媚的阳光从天井穿透，伴随着他一路前行，分外耀眼。。
　　段净夕看着他的身影绕过楼道的弯口，然后走向四班的教室。。
　　她的心里忽然冒出一个念头。
　　她想了解这个人。
　　
　　她知道同学不等于朋友，就像知道成绩好不等于聪明一样。。
　　而现在，她想像了解一个朋友那样了解这个人。 </string>
	<string>产生这样的念头后，平时没留意的事情都开始留意起来。。
　　班上的同学提到他的名字时段净夕会注意听，有一次从副班长口中得知他跟副班长住同一栋楼；在办公室里听到四班的老师对他交待事情时会把视线扫向他；观看学校展览板上的画作时看到注有他名字的作品会多停留几眼。
　　
　　进入十一月中旬滨西就开始大幅度降温，低温将这座沿海城市完全笼罩起来，仿佛前几天的风和日丽只是人们的一种错觉。学生们纷纷添衣服加外套，女生们也换下了裙子。
　　奥数培训就在这样寒冷的天气中拉开了序幕。。
　　参加这次奥数培训的学生来自四五六年级，每个班各三名学生。第一次授课的时间在期中考前一周，期中考过后奥数进行了第二次培训——这也是在学校进行的最后一次培训，从第三次课起学生们就转移到郊区一所寄宿学校上课。
　　由于寄宿学校地处偏僻、路途遥远，由学校统一派校车送学生前往。。
　　尽管每个年级只有十二名学生，但他们并没有在同一个教室上课。一班、二班和其他几所学校的学生一起上课，而三班和四班的六名学生则被分到了另一个班。。
　　奥数培训每次上四节课，第二节课课间学生们要到寄宿学校的操场上做广播体操。
　　不同于青平小学的寸土寸金，寄宿小学可以说得上占地广阔，加之郊外天气晴朗，阳光充足，空气新鲜，连带着段净夕不算喜欢的广播体操时间也变得美好起来。。
　　
　　学校的校车七点十五分出发，段净夕六点二十分就得起床。平时周一到周五学校都有提供早餐，保姆都是八点为两个大人准备好早餐，周六学校食堂不开放，段净夕每次培训就去小区大门外的早餐店吃早餐。
　　元旦过后接连两个星期六小区的早餐店都没有开门营业，她只好到马路对面的小店解决早餐。
　　进入隆冬后天亮得晚，清晨六点四十二分的光景，天空灰蒙蒙的，冷冽的寒意笼罩着整条街道，街上静悄悄的，只有零星几个行人。
　　进店后段净夕找了一张空桌子坐下，百无聊赖地等早餐。。
　　陆慎析就在这个时候走进了店里。
　　
　　店内空间狭小，只摆了四张桌子，还剩下四五个空位，她的位子离门口比较近。段净夕看见他走过来，举起手朝自己挥了挥，“早。”
　　“早。”段净夕从怔愣中回过神：这边是他住的小区，他来这里吃早餐根本不足为奇，反倒是她的出现比较突兀。
　　陆慎析跟老板点了一份早餐，在她对面的空位子坐下，“你平时都在这里吃早餐？”
　　“没有。我平时在我们那边吃，最近那家店都没开，就来这边吃了。”。
　　
　　段净夕的早餐先被送了过来，因为她不习惯在外人面前吃东西，加上出于礼貌的缘故，于是拿着一次性筷子继续跟他聊天。
　　他扬了扬英气的眉，嘴角露出一抹和煦的笑，“你先吃吧，不用等我。我吃东西很快的。”
　　“好。”虽是这么说，她只是端起纸杯喝豆浆。。
　　过了一会，他的早餐也被送了过来，段净夕这才松了口气，低头认真地吃起早餐。
　　
　　冬天的早晨总是显得阴冷无光，凛冽的风肆意地刮过街道，只有零零碎碎的灯光陪伴着城市里早起的人们。
　　她参加过很多次奥数培训，每个周六的早上都是一个人出门，一个人吃早餐，一个人走去学校，然而这个清晨成为了例外。
　　吃了一会儿，陆慎析见她出神地望着外面，问：“看什么？”。
　　“外面好像下雨了。”隔着朦胧的天色隐约可以看到飘忽的雨丝，空气中也渗入了几分寒意。
　　老天爷似乎觉得前天夜里的雨水不够充沛，才隔了一天又下起了雨。。
　　陆慎析也转头望了一眼外面，“是下雨了。你没带伞？”。
　　“有啊。你呢？”倒不是她有预感今天会下雨，只是去年夏天她曾有一次因为暴雨被困在学校回不了家的经历，后来就习惯每天携带雨伞，下雨天挡雨，晴天就遮太阳。。
　　她看到对面的人像大多数嫌麻烦的男生一样毫不在意地摇了摇头：“没有。”
　　
　　段净夕很早以前就发现，当所有人都觉得因着同学的情谊很多事情应该是理所当然的时候，她却总是在纠结自己跟他人的界限，独自在遥远的边界外徘徊。。
　　就好比现在这种情况，如果是在以前，她心里宁愿把包里的伞让给他用，自己选择冒雨跑去学校。
　　尽管这种想法不正常，可是她无法抑制大脑细胞的活动。。
　　而如今，她已经知道自己必须克服这种心理障碍，有时甚至会在一些细小的事情上纠正自己的举动——尽管有时执行起来很困难。
　　这个人两个月前还送过她回家。
　　这样一想，心底那些在别人看来没有必要的抗拒此时也似乎显得有点多余了。
　　店外稀疏的雨帘随着雨声在逐渐变密，雨势也变大。伴随着淅淅沥沥的雨水声，她心底翻起的波澜逐渐归于平静。
　　她挣扎着开口：“那等一下你打伞？”
　　
　　陆慎析吃完早餐在座位上等了她一会，然后两人结伴出门。。
　　段净夕从书包里取出雨伞，陆慎析接了过去，打开伞跟她示意：“走吧。”
　　“噢。”
　　雨水不停地落到地上，溅起细微的水花，整个路面湿漉漉的，给这个冬天平添了几分料峭的寒意。
　　段净夕看着脚下踏过人行道上一块又一块橙红色的方砖，然后落回水泥地上，才发现原来不知不觉他们已经走过了十字路口。
　　她扭头望了一眼身后的一串水迹，继续往前走。。
　　似乎跟人一同走在一把伞下，也没有想像中那么困难。。
　　
　　冬天的晚上冷而漫长，段净夕洗完澡就坐在书桌前看书，保姆傍晚做好晚饭出去探望亲戚了，整个屋子静悄悄的，直到外面越来越大的说话声打破了宁静——继母似乎跟爸爸吵架了。
　　两个大人起初说话还比较小声，对话的内容也比较平和，后来音量逐渐升高。
　　继母的声音断断续续地传了进来：“你跟那个女人生的就是女儿……我也是女人，我想要个小孩有什么错……”
　　段净夕隐约听到爸爸说了一句什么话，提到了自己的名字。。
　　而继母的声音有向歇斯底里靠拢的趋势：“我不管，她是你跟那个女人生的……”
　　
　　段净夕看书的兴致已然全无，阖上书站起来，准备洗漱睡觉。。
　　她觉得好像回到了从前父母离婚之前的日子，每天争吵个不停。。
　　所不同的是，以前父母吵架过程中从来不会牵扯到她，而现在继母和爸爸吵架把话题拉到她身上了。
　　她或多或少能理解继母。跟丈夫生一个小孩大概是每个嫁作人妇的女人的想法。继母嫁给爸爸已经两年，想生小孩也正常。
　　可是继母生不生小孩都跟她没有关系。
　　这一刻她无比希望自己是寄宿学校的学生，这样就可以换来清静的环境。
　　
　　奥数培训并没有随着第一个学期的结束而结束，而是延续到了新的学期。
　　校车从青平小学开往寄宿学校要差不多要花四十分钟。随着春天的到来，车窗外的阳光也开始变得明媚。
　　一开始段净夕参加奥数培训只是因为被选上了，但是经过几次培训也喜欢上这种坐车去求学的过程。她坐在车里看着沿途的风景不断掠过，心里宁静悠远。。
　　
　　期中考一过，年级组织学生们前往郊区的一个农场秋游。当天并不提供午餐，农场给每个班级分配了炊具和食材，由学生们自己动手准备午餐。
　　食材有鸡蛋和番茄、小白菜、土豆、萝卜等蔬菜，还有一大块猪肉。段净夕跟班上的生活委员一起去征询了班主任的意见，接着开始安排各项分工：洗菜、切菜、炒菜、端菜……
　　每个班的灶炉离得并不远，附近一块空地上摆了一张长长的桌子给各个班摆放东西，桌子边上放了几把椅子。
　　等到所有材料都切好准备下锅，段净夕也终于有机会喘口气，走到放包的地方拿出水喝了两口。
　　生活委员跑过来问：“段净夕，那个番茄炒蛋要不要放糖？”。
　　段净夕的额头顿时打了好几个结，“番茄炒蛋不是放番茄和蛋就行了吗？”
　　女生瞪大了双眼：“还要放盐啊！”
　　“噢——”段净夕想了一下，“柯艳秋说她来弄番茄炒蛋，她说放就放，她说不放就不放。”
　　“哦，好的。”女生得到指示迅速跑开。
　　段净夕目送生活委员跑到柯艳秋旁边说了什么，柯艳秋已经准备要炒菜了，看上去胸有成竹的样子。她松了一口气，转头就看到几名学生悠闲地坐在长桌周围的椅子上休息，陆慎析也在其中。
　　四班分到的地方跟二班相邻，段净夕瞄了一眼四班的情况，问陆慎析：“你们班都弄好了吗？”
　　“没有，但是都安排好了。”
　　他问：“你不会做饭？”
　　他面向椅背而坐，膝盖微屈，双手搭在椅背上，姿势相当闲适随意。。
　　“不会。”段净夕相信在场没有几个人会这项技能，答得并不愧疚。。
　　他露出一抹清朗的笑，眼底蕴满了明朗的笑意，连同眼皮下一层细小的内褶都变得分外生动：“我会。”
　　他说话时露出的牙齿跟身上的衬衫一样干净整齐，段净夕不禁想起了《悲惨世界》里芳汀的那一口白牙。
　　段净夕十分好奇：“你会做什么菜？”
　　他坐正身子，看上去特别一本正经：“炒饭。”。
　　“还有呢？”段净夕虽然从没做过饭，也知道炒饭并不难做。。
　　“别的暂时还没有机会施展。”他仍旧笑着，眼底如同头顶的蓝天清澈。
　　哼，还不是跟她一样。
　　如果仅从外表和气质判断，这个男生怎么看都不像是一个会进厨房炒菜的人。
　　段净夕本想跟他说炒饭并不能代表一个人的烹饪水平，想了想最终只是问他：“炒饭的时候你放了什么？”
　　这个问题似乎把四班的班长问倒了，他想了想回答：“火腿和香肠。”。
　　“没有了？”
　　“没有了。”
　　果然都是半成品。
　　
　　这一年夏天，继母终于如愿以偿怀孕了，连保姆都能感受到继母那种从心底焕发出来的笑容。段净夕爸爸的公司规模比以前更大了，他也更忙了，段净夕经常好几天看不到他的身影。
　　那个星期天下午，段净夕步出小区，像往常一样到附近的沿海大道散步。尽管保姆知道她星期天下午都会出去散步，她出门前还是去跟保姆说了一声。。
　　到了海边刚过四点，此时刚刚迈入盛夏，太阳被飘移的云朵遮住了，只在云层边缘溢出淡淡的光线。
　　段净夕沿着海边的柏油大道走了很久，起风了，她跟随风的足迹跑了起来。
　　跑了一百多米，她的视野里出现陆慎析和一个小男孩的身影。。
　　
　　段净夕曾经听陆慎析在两次闲聊中提及弟弟，但这是她第一次看到他的弟弟。
　　
　　陆慎析牵着弟弟向她迎面走过来，“你在这里散步吗？”。
　　“对啊。在家里不知道可以干什么，就出来走走。”。
　　陆慎析的弟弟模样看起来很小，柔嫩白皙的小手牵着哥哥的左手，黑色的小脑瓜低垂着，神情孤寂沉默。
　　陆慎析摆了摆牵着弟弟的手，轻声吩咐：“叫姐姐。”。
　　小男孩仰起小脑袋，一双黑溜溜的眼珠动了动，张开小嘴叫道：“姐姐。”
　　他跟陆慎析一样继承了非常优秀的基因，五官精致，轮廓格外分明。两兄弟站在一起，隐约可以看出相似的五官。
　　段净夕自认不是一个有爱心的人，但是对着如此乖巧沉默的小男孩，心底也不由放柔。
　　她曾在一本书上看到跟人平视能在某种程度上去除对方的戒心，于是蹲下身，与小男孩的目光平视，回道：“你好。”
　　小男孩十分认生，对哥哥依赖极深，叫完“姐姐”又靠回到陆慎析身侧不说话，小脑瓜重新低了下去，只露出一个乌黑可爱的发顶。
　　段净夕重新站直身子，扭头问陆慎析：“他今年几岁？”。
　　“三岁半。”也许因为话题中心是弟弟的缘故，陆慎析的眉眼变温和了许多，说话的同时，伸手揽了揽弟弟瘦小的肩膀。
　　“上幼儿园了吗？”
　　陆慎析摇了摇头，眸色微微一黯：“没有。他不喜欢上幼儿园，要等到九月。”
　　段净夕点了点头。她也看得出小男孩有些自闭认生，暂时留在家里被家人照顾也不失为一个不错的选择。
　　
　　这条大道靠着海边，宽阔的柏油马路两旁都铺着青翠的草坪供人们休息，两条平行的马路也以绿化带隔开，绿化带上种植了各种花草，草坪上每隔五十米有一个花圃。。
　　陆慎析的弟弟看到一个花圃后轻轻扯了扯哥哥的衣服下摆，伸手指了指。
　　陆慎析顺着他手指的方向望过去——那是一片开得姹紫嫣红的花圃，有几个小孩都围在那里玩耍。
　　他低头问弟弟，嗓音柔和：“想玩吗？”
　　小男孩点点头，神情静默，只是目光中隐隐闪动着期盼。。
　　陆慎析揉了揉弟弟的头，“那去吧。不要走太远，哥哥会在这里看着。”
　　小男孩得到准许便松开陆慎析的手，走过去蹲在草地上开始玩耍。。
　　其实那里也没什么可玩的，这条大道是这一两年刚建好的，花圃也是最近才种的，小孩子顶多只能摸摸小草和看看花朵，可是小家伙玩得不亦乐乎。。
　　段净夕注意到小男孩并没有像其他小孩那样看到好看的花朵就伸手去摘，只是盯着花盘看了好一会，模样特别乖巧。
　　
　　草坪上有不少人在放风筝，临近黄昏的风在大道上穿梭着，把风筝带得老高。造型不一、颜色各异的风筝点缀了蔚蓝高远的天空，分外好看。
　　段净夕将目光从草地上弱小的身影收回，仰望了一眼天上五彩斑斓的风筝，问：“陆慎析，你放过风筝吗？”
　　“以前放过几次。”陆慎析也抬头望向天空，视线黝黑无波。。
　　段净夕跟他闲聊了几句，问：“你经常来这里吗？”。
　　“没有，很少。今天是带我弟弟出来走一走。”。
　　段净夕看向小男孩。那个瘦小的身躯正蹲在地上，独自安静地玩耍泥土。
　　陆慎析跟她打了一个手势，折身往回走，视线一直没离开草坪上的弟弟。
　　
　　段净夕徐步跟在他身后，视线从小男孩移回他身上。。
　　远处的海面在阳光下翻滚着金黄色的波浪，他的发梢和肩膀处也染了一层浅金色。
　　或许是因为有弟弟在身边，他今天给人的感觉跟平时很不一样。。
　　
　　陆慎析留意着玩耍中的弟弟，一边问她：“你每个星期都来这里吗？”。
　　“差不多。也不是每个星期都会来，不过基本上有时间就会出来走一走。”
　　段净夕推远视线，瞥见远处有几辆建筑施工的大型机器，问：“那边在干嘛？那些机器是做什么用的？”
　　陆慎析望向她所指的方向，说道：“那个是推土机，他们要挖土填海。”
　　“填海？”段净夕不明白为什么要破坏如此美好的自然景观，“为什么要填海？”
　　平时的考试段净夕跟他的成绩排名不分上下，只有在这种时候，段净夕才体会到他是一个见识比自己广阔的人，能为自己解答疑难问题。
　　“城市要发展建设，土地不够用就把海填了，这样才有多余的地。”。
　　“那以后这里是不是不能看到海了？”段净夕心中不禁惋惜不已。。
　　陆慎析点头，以目光示意远方，“这边应该看不到了，要去远一点的地方才能看到。”
　　她怔怔地看着远方，心想：远一点的地方是多远？她走路能走过去吗？。
　　陆慎析看了一眼两米之外的弟弟，将视线移到她脸上，“你喜欢看海？”
　　段净夕摇摇头，仍望着夕阳下庞大的机器出神，“不是。只是喜欢来这边散步，而且觉得填海很浪费。”
　　可是她心里也清楚，很多景物都会随着城市的发展而逐渐消失，不复存在。纵然多么不舍。
　　
　　收回视线时正好对上陆慎析的目光。他的瞳眸逆着落日余晖，犹如历经上千年的美玉，边缘折出柔和温润的浅光。
　　他问：“怎么了？”
　　段净夕指着水天相接的地方，“看夕阳。你觉得好不好看？”。
　　陆慎析望向她所指的地方，“每天的太阳不都是一样的吗？”。
　　段净夕默默地在心里咀嚼他的话，视线重新移向海上的落日，“我每次来这里散步的时候，心里都希望以后还能像现在这样看夕阳。”
　　陆慎析闻言笑起来，“你的愿望就这么简单？”。
　　“嗯。”
</string>
	<string>随着日照渐长，五年级的全部课程也都落下帷幕，学生们都沉浸在放暑假的欢乐中。
　　段净夕爸爸的公司业务进行扩张，基本每天都要回公司，继母则留在家中安胎。段净夕假期第二天就把暑假作业做完，开始阅读从学校图书室所借的书。。
　　柯艳秋打电话过来得知她写完暑假作业，跟她借作业。吃完午饭段净夕拿作业去柯艳秋家给她，跟她分别后沿着街道缓缓走回家。
　　天气很晴朗，正值下午两点多，阳光炙热猛烈。路口的超市在门口搞活动，周围挤满了围观的**众，甚是喧闹。段净夕不慎把伞落在了柯艳秋家，便尽量沿着街道的林荫徐徐而行。
　　她突然想去游乐场那边的公园看一看，于是继续往前走。。
　　走过一排长长的树荫，意外地瞥见陆慎析和弟弟走在前面约三十米远处的树荫下。
　　
　　陆慎析一手牵着弟弟，也看见了她，走近她才问：“你在这里干什么？”这么热的天，她应该不是在散步。
　　“刚才拿暑假作业给我们班的同学。现在想去游乐场那边的公园看看。”
　　过了前面路口一直往东走有一个公园，公园里有花坛和石桌石凳供人休憩，穿过公园往里走就有一个游乐场。
　　“游乐场？”陆慎析诧异的神情显示他似乎是第一次听说这附近有游乐场。
　　“就在那个公园附近，大概要走二十分钟。游乐场被很多树遮住了，这里看不到，穿过公园顺着那条路一直走到头，再往左拐就能到门口那里。”段净夕比划着向他解释。。
　　他才搬来这里一年多，不知道游乐场的存在并不奇怪，因为游乐场地处偏僻，如果不特意找根本找不到。段净夕也是读三年级的时候才跟班上的女生去过一次。。
　　说完，她看到对面的人露出一副思索的表情。。
　　她问：“你们要去哪里？要回家吗？”天气这么热，她也不想在外面游荡了，如果他们要回家，她也回家算了。
　　“刚才打算去超市买东西。”
　　陆慎析顿了一下，低头问弟弟：“阿言，想去游乐场玩吗？”。
　　小男孩抓住他的手，张着一双黑白分明的眼睛仰头望着哥哥，似乎在思考什么是“游乐场”，接着点点头。
　　段净夕从没问过陆慎析他弟弟叫什么名字，听他出声唤“阿言”，脑海里一下子蹦出好几个字：颜、言、研、严、炎、延，过滤后觉得应该是“言”。。
　　
　　游乐场占地并不大，以白色水泥和淡蓝色栏杆构成四周的围墙，透过栏杆就可以看到有很多小孩在里面快乐地嬉戏着，有些小孩由家长陪同，其余则是跟同伴一起来的。。
　　夏日炎炎，炙热的阳光在头顶恣意地倾泻，淹没了游乐场里游玩的身影。
　　游乐场里的游乐设施不算很多，但对于小朋友而言已经足够了。。
　　两个大小孩带着小男孩玩了两个游戏，陆慎析去小卖部买水，小卖部里面人多熙攘，段净夕便跟小男孩一起在小卖部门口等他。
　　游乐场的配套设施还很简陋，没有安置遮阳伞。陆慎析买完水出来就看到她站在门口右侧，一手虚悬在小男孩身前以免他被来往的游客撞到，一手举在小男孩头顶遮挡阳光，是一种保护的姿态。
　　
　　他们喝完水休息了一会，又接着玩游戏。
　　经过一个下午的相处，小男孩的戒心渐渐褪去，玩海盗船的时候甚至紧紧抓着段净夕的衣服。
　　小孩子的精力毕竟有限，接连玩了几个游戏也渐渐累了，开始犯困，一双小眼眯到了一起。三人出了游乐场后在大门外一排树荫下找了一张石凳休息，陆慎析的弟弟偎在他怀中安静地睡觉。
　　陆慎析刚才买的三瓶水早就喝完了，段净夕身上带了二十块钱，当下又去小卖部重新买了三瓶水和两包纸巾，将纸巾和一瓶水放到石凳上，一瓶水递给陆慎析，然后在他旁边坐下。
　　陆慎析接过水，“你要不要先回家？你跟你爸妈说了几点回去？”。
　　段净夕摇头，“我晚上十点回去也没关系。他们不会问我几点回去。”。
　　陆慎析看了她一眼，没问她为什么，扭开盖子喝水。。
　　段净夕喝完水旋上盖子，看向熟睡中的小家伙。他靠在陆慎析身上，小手揪着哥哥的衣服，睡相相当安稳。夏日的风徐徐吹过，柔软的黑发在微风中抖动着，男孩抿了抿小嘴巴，大约是觉得脸上痒，伸手揉了揉眼睛，放下手后又继续睡觉。
　　收回视线时正对上陆慎析的视线，他的目光平静，黝黑无波。。
　　她轻声问：“你上学的时候谁照顾你弟弟？”。
　　“平时有请一个阿姨帮忙照看，我妈妈做对外贸易的，不用每天都去公司上班，有时也可以留在家里照顾我弟弟。”
　　说话的同时，他取出一片纸巾展开，轻轻拭去小男孩额头沁出的汗珠。。
　　
　　游乐场向来是儿童们的乐园，盛夏的炽热空气也挡不住小孩玩耍的热情，远在树荫这边也能不断听到里面传来的欢声笑语。
　　段净夕手撑在石凳上环顾四周。这排树荫绵延了几十米，不远处一棵大树下几名老人在下象棋，老人一手挥着扇子，意态十分闲适。
　　陆慎析对她笑了笑，低声道：“你不说的话，我都不知道有这个地方。”
　　“我也只跟我们班的女生来过这里一次。”
　　段净夕跟他有一搭没一搭地聊天，有时说完了就停下来看一会小男孩，静静地听树上的鸟鸣声，微风徐徐地吹过来，这种氛围下的时光似乎显得格外静谧悠长。。
　　
　　陆慎析的弟弟睡醒后，三人收拾东西走回家。到了分岔点，陆慎析摇了摇弟弟的手，“跟姐姐再见。”
　　小男孩举起手跟她挥了挥，漆黑澄澈的眼珠在阳光下格外纯真无邪，已经没有了之前那种孤寂沉默的神情。
　　段净夕扬起嘴角朝他露出一个笑容，也举起手跟他挥了挥，再朝陆慎析挥挥手，转身走进小区大门。
　　
　　暑假的时间漫长，段净夕每天在家无非看看小说、画画素描，有时也跟保姆一起看电视。
　　下午她在房间里看小说，察觉肚子有点饿时，她看向闹钟，已经过了三点。
　　她去了一趟厨房。
　　冰箱里没什么吃的，掀开电饭煲，锅里倒是还剩下了一点饭。。
　　炒饭应该不难做。
　　段净夕站在那里犹豫了一会，接着把米饭端进厨房。。
　　保姆在客厅看电视，见她进了厨房好一会都没出来，走过来关切地问：“净夕，你在找什么？”
　　“我有点饿，想把这些饭炒来吃。”
　　保姆脸上满是惊奇：“你不是不喜欢吃炒饭吗？”净夕不喜欢吃干巴巴的食物，平时连米饭也吃得很少。
　　“没关系，能吃就行。”
　　“我来吧？你都没炒过菜。”
　　段净夕对她笑了笑：“谢谢你，陈姨。但是今天我想自己试一试。陈姨，我炒完你帮我尝一尝。”
　　保姆脸上露出一个淳朴的笑容：“那当然没问题。哪谈得上帮？”这孩子想让她吃东西也说得这么客气。
　　最终炒饭是在保姆的指点下做好的，虽然不算非常好吃，但是能下咽。。
　　
　　随着假期的日子一天天被翻过，新学期开学的日子逐渐近了。。
　　没完成暑假作业的学生都在赶作业，段净夕最近几天连着去了三位女同学家里教她们写作业，傍晚才回家。晚上九点多她躺到床上打算睡觉。快要睡着时，客厅传来爸爸和继母的对话声，把她从熟睡的临界点拉回到清醒中。
　　段净夕不知道他们在争执什么，也不想知道，只好拉起被子，在心里默背上学期的一篇课文。
　　背完一篇课文后她翻了一个身，房间外仍传来断断续续的对话声，音量时高时低。
　　她索性睁开眼睛，望着天花板，又接着背了两篇课文。。
　　不知道过了多久，段净夕的爸爸说了一句什么话，语气显得极不耐烦，外面的说话声逐渐低了下去。
　　段净夕扭头看了一眼桌子上的闹钟，时针在夜色中发出淡淡的荧光绿色，停在十一点多的位置。
　　她转了一个身再次闭上眼睛，过了许久终于睡着。。
　　
　　因为晚上没睡好，第二天段净夕的精神不是很充足。。
　　继母挺着大肚子坐在客厅的沙发上打电话，保姆回了房间午睡，下午三点多，段净夕出了门。
　　她沿着海边的大道走了很久，从大道上可以看见远处的大海在阳光下闪烁着黄金般的光芒。
　　滨西城是一座海滨小城，这条大道北边要建造一个城市绿化公园，明年就将正式动土。有不少居民来到海边的浅滩戏耍，享受填海前跟大自然的最后亲密接触。。
　　段净夕沿着海岸线一直缓步而行，最后终于站在海边的浅滩前。大海向她张开了怀抱，海风不断吹向岸边，亲吻着她的脸颊。
　　太阳不若正午那么猛烈，悬挂在大海上空，以几乎不可察觉的速度缓缓下坠，远处的海面上有一两艘渔船，渔民站在船上，被阳光抹成两道黑色的身影。。
　　段净夕找了一块干涸的泥土堆坐下，脱了凉鞋将脚伸进水里。水带着下午阳光的热度，暖暖的，水草随着水波晃动着。
　　黄昏不知不觉间已来临，西沉的落日在水面上勾出一道美丽的金色水波，颇有半江瑟瑟半江红的意境。
　　不知道坐了多久，阳光逐渐变淡，下沉到与海面相切，在海面上拖出一条波光粼粼的金带。
　　段净夕穿好凉鞋，站起来拍拍衣服，沿着原路返回。。
　　
　　陆慎析跟弟弟沿着草坪散步。小男孩远远就看到段净夕，晃了晃哥哥的手。陆慎析顺着他的目光望过去，看到女孩独自穿行在落日余晖中。
　　他牵起嘴角笑了笑，“还记得姐姐吗？”
　　小男孩仰起小脸点了点头。
　　
　　段净夕一直低着头在想事情，没有看到他们，等到距离他们差不多五米时，才恍然发现他们，立即停下脚步：“嗨。”
　　跟他们一起走了一段路，段净夕才发觉小家伙似乎很困，小拳头揉了好几次眼睛。
　　“他是不是没睡好？”
　　陆慎析摸了摸弟弟的头，笑容有些无奈：“他晚上睡不着，怕外星人来抓他。”
　　“外星人？”
　　“他昨天看了一个讲外星人的节目，后来就一直不敢睡。”最后是陆慎析哄了很久才睡着。
　　段净夕诧异过后便恍然大悟。
　　最近电视台在播一部关于外星人的纪录片，昨天下午她在同学家里也看了一点，小孩子看完电视心里害怕也不奇怪。
　　段净夕蹲下来，目光与小男孩平视：“你怕外星人？”。
　　小男孩眼睛眨也不眨地看着她，不说话。
　　陆慎析微微一笑，也不知道如何彻底消除弟弟的忧虑，摸了摸小男孩的头。
　　段净夕跟小男孩讲了一些简单的科普常识：“……所以说，外星人是不会抓走你的。”
　　这样的内容小男孩已经听哥哥说过很多遍，可是心里多少还有一些害怕，半歪着脑袋，睁着一双黑葡萄般的眼睛无辜地望着段净夕。
　　这么干净乖巧的男孩，即使什么话也不说，只摆出这样的神情就让人心底不由放软。
　　段净夕侧头思索了一会，脑海中蓦地闪过在一本介绍电影的书上所看到的海报，左手握成拳捶向右掌，说：“这样吧，我把我的力量传给你，这样你就变成有两个人的力量，就不用怕外星人了，好不好？”
　　小男孩看着她不说话，但是能感觉到这个姐姐是真心对自己好的，隔了一会终于点点头。
　　段净夕松了一口气，绽开一抹笑，举手伸出食指，朝他竖起指腹，“你看，像这样伸出手指，然后跟我这根手指贴起来……”
　　小男孩转着滴溜溜的黑瞳注视着她，学着她的动作举起小手，伸出食指跟她的抵在一起。
　　两根手指在幽暗的落日余晖中渐渐拉近，最后印在一起。。
　　这是一大一小两个小孩之间的承诺。
　　
　　夕阳迟暮。
　　天色微微发暗，在远处的海岸线拉出暗蓝的色泽。太阳几乎完全沉入大海，只留下几缕光线溢出了海平面，被逐渐变暗的暮色兑得很淡。
　　道路两旁的树木变成一堆不规则的黑色，女孩蹲在地上跟不到半个身高的男孩说话，逆着光的身影被黯淡的光线抹成两团黑影，只勾勒出依稀可辨的轮廓。。
　　
　　陆慎析站在一旁看着，目光柔和。
　　后来很多年过去了，当年那个女孩的模样被流逝的时光和无情的岁月冲刷得模糊不清，拼不出具体的轮廓。
　　然而他的脑海中一直残留着这个画面。
　　夕阳的光芒逐渐淡去，女孩半蹲着身子对小男孩认真地说着话，相抵的两手传递着信任与承诺。
　　暗涌的暮色中流溢出无尽的温馨。
</string>
	<string>六年级开学时，学校按照往年惯例对学生们重新进行分班，并给个别班级分配了新的任课老师。段净夕被分到了二班。
　　二班的新班主任是一位三十多岁的妇女，过去三年都是带六年级。毫无意外，新班主任让段净夕继续担任班长一职。
　　过去五年级执教语数英的六名老师中，只有一、二班的英语老师和三、四班的语文老师随同学生们一起升上了六年级。四班的班主任没变，班长也维持不变，段净夕还是能经常在办公室里看到陆慎析。
　　
　　奥数竞赛定于十一月中旬举行。比赛前一个星期，学生们前往寄宿学校进行了最后一次培训。
　　当天中午校车另有用途，学生们要自行回家。放学后段净夕背了书包到走廊上等王楚怡一起回家。王楚怡从教室一出来就对她说：“他们拿着篮球去了篮球场，段净夕，我们去看看吧。”三班的男生带了一个篮球过来，下课铃一响几名男生就去了操场。。
　　能到室外呼吸新鲜空气自然很好，而且今天天气很晴朗。。
　　段净夕点头：“好啊。”
　　于是两个女生往篮球场走去。
　　
　　寄宿学校的场地十分充裕，室外篮球场是水泥地，一共有六块球场，青平小学的男生在最边上的那块场地打球。
　　两个女生站在场边观看场上的男生打球。
　　段净夕手上拿着一瓶纯净水却不喝，王楚怡在她旁边看得跃跃欲试，晃了晃她的手：“段净夕，我们也上去玩吧。”
　　段净夕摆摆手，“你去打吧，我在这里看就行了。”她唯一擅长的运动就是跑步和跳橡皮筋。虽然体育老师有教过他们篮球的基本技巧，但是她只会运球和投篮。。
　　她又对王楚怡说：“反正他们现在不打比赛，你可以跟他们一起投篮。”
　　王楚怡觉得她说得有道理，当下解下书包跑向男生们。段净夕目送她跑开，也解下书包坐到篮球架下。
　　
　　秋末的阳光斜斜地打在水泥地上，球场上的人影显得有些虚。阳光透明干净，抬头就是蔚蓝的天空和洁白的云朵。
　　她想，以后她应该也会记住这样的时光。
　　宁静，悠闲。
　　
　　这样坐了十几分钟，她看到陆慎析教完王楚怡怎么投篮就走下了场。。
　　等他走近了，段净夕问：“你不打了？”
　　“休息一下。”陆慎析摇了摇头，在她右边坐下，“你不玩？”。
　　“我在这里看就行。”她更喜欢以旁观者的身份看大家玩，这样便于抽离角色思考。
　　段净夕跟他坐在那里看了一会，看到场上的王楚怡终于投进一个球，正想跟陆慎析说话，转头就见他以下巴点了点她的右手肘：“这里怎么弄到的？”。
　　她的手肘附近有一块指甲大小的疤痕，能隐约看出皮肤的凹陷痕迹。。
　　段净夕也看向自己的手肘，答道：“撞到茶几。”。
　　他低头瞅了瞅，“什么时候？”
　　“一年级的时候。”
　　他听了点点头，没再继续问，只是偶尔就球场上的情况跟她聊几句。。
　　
　　段净夕想，年级里有那么多学生，她却只留意他，或许不仅因为他的心思难以揣摩，也不仅是他跟她的成绩不分上下，或许还因为他们身上有些地方很相似。。
　　他们似乎都对彼此家中的情况有所了解，但是从来没问过对方。。
　　像是一种无言的默契。
　　
　　美术老师也跟随他们一起升上了六年级。
　　班上没有专门的美术课代表，收发作业都由班长完成。星期五下午第一节课课间段净夕收好作业，接着送去综合楼的美术室，进了教室就看到美术老师正在摆放刚拆封的石膏像。
　　段净夕是第一次看到真正的石膏像，她喜欢这种只有纯白色调的雕塑。所以放下作业后，她站到一尊女性头像雕塑前观察了好一会。
　　美术老师向来喜欢她的素描，见状立即问：“要不要画一幅？”。
　　“可以吗？”
　　老师笑着说：“当然可以！美术室随时欢迎你，你什么时候想来画画都可以。”
　　她立即点头：“好啊。老师，我等一下就过来。”下节课是自习课，她可以跟班主任请假。
　　
　　段净夕跑回教室跟班主任说明了情况，拿了铅笔便跑向综合楼，推开美术室的门时发现里面多了一个人。
　　美术老师对着门口在整理石膏像，指了指刚腾出来的一张桌子，“段净夕来了？石膏像摆在这里，你找个地方画吧。画纸就在那里拿。”
　　陆慎析站在窗台旁边调颜料，听到声音转头望了过来，朝她点点头便又低头专心调颜料。
　　原来他也在这里画画。
　　
　　奥数培训结束后，段净夕见到陆慎析的次数自然变少，虽然偶尔还会在办公室里见到他，但是这种频率的降低也使得她对陆慎析的关注随之减少。。
　　段净夕不知道怎么解释这种转变。有时她想，也许是因为身体内的冷血因子在作用。
　　
　　段净夕对着石膏像找了一个角度，搬来一把椅子坐好，开始画素描。。
　　美术室很大，只有他们三个人，老师在整理东西，偶尔发出一两下声响。
　　在这样的氛围中，段净夕渐渐体会到一种前所未有的宁静。。
　　把轮廓线条都勾出来后，她从画纸上抬起头，看到陆慎析坐在那里，拿着画笔用心作画。
　　从窗台漫进来的光线有些灰冷，男生周身被覆了一层冷色调，白衬衣的线条仿佛凝住，就连发梢处也似乎笼上了一道清冷的边。
　　
　　石膏像画得差不多时，段净夕看了一眼手表，已经快放学了。。
　　她还要回教室检查值日生打扫卫生，于是收起笔和画纸，过去跟老师道别。
　　视线微移就看到陆慎析还在全神贯注地画画，她犹豫了一下还是没走过去，转身走出了美术室。
　　那是她唯一一次在画室里跟陆慎析一起画画。后来美术老师有叫她再去美术室画画，但是数学老师要利用习题课讲习题，自然希望她留在教室里，段净夕便没再去了。。
　　
　　这一年年底，继母常霞产下一名女婴。甫出生的婴儿给这个家带来热闹和不少欢声笑语，段茂扬也减少了呆在公司的时间，将一部分注意力转移到小女儿身上。。
　　段净夕的生活照常，并没有发生太大变化。
　　第二学期开始没多久，段净夕发现自己进入了青春期。没人跟她说过在面临成长方面的问题时要怎么做，所幸上个学期她就从班上几名女同学那里得知一些零碎的常识，又从社区图书馆的相关书籍里了解了更多相关知识，她的情绪并没有发生什么起伏。。
　　生理上的改变也带来了一点心理上的变化。
　　段净夕开始越来越多地思考一个问题。从一年级到六年级，她已经当了六年的班长。她知道如果她继续当班长可以做得很好，但是她突然不想再继续担任这个职务了。。
　　她并不是觉得当班长辛苦，只是觉得自己的性格本就无法对别人太热情，即使有时关心班上的同学也只是出于一种义务，而不是完全发自内心的举动。。
　　她想，她骨子里是冷血的。
　　这个想法在脑海冒出来的时候，她知道这种问题只有她才会纠结。陆慎析大概永远也不会像她这样纠结类似的问题。
　　但是年级里有些老师是跟着学生们一起升上来的，对每个学生的情况都很了解，清楚她一直担任班长。而这种改变，需要一个全新的环境。
　　怀着这样的想法，段净夕升上了初中。
　　
　　初中的学校跟青平小学是两个相反的方向，离段净夕家并不远，走路过去也只是二十多分钟。
　　青平中学是一所纯初中学校，校园占地并不大，跟青平小学相比只多了一栋科技楼。
　　段净夕被分到六班读书。班上有两个同学跟她一样是从青平小学的二班升上来的，还有四个人则是小学其它三个班的学生，这对于她而言算是一个全新的环境。。
　　开学那一天，六班的班主任果不其然在讲台上问哪个学生以前担任过班长一职，段净夕端坐于座位不动。过去二班的那个男生见她只是淡然坐于座位上不说话，便也没说话。。
　　段净夕的心里还是抵触说谎的，她在心里作好了打算：如果老师问起来，她就坦承相告，要是老师想让她当班长，那就当吧，反正也不辛苦。
　　就在这时有一个男生和一个女生举起了手。最后班长这个职位落到了那名男生身上，女生则担任副班长。
　　座位上的段净夕松了一口气。
　　
　　段净夕的初中几乎可以说过得很惬意。
　 　段茂扬的公司进行业务扩张，每天忙得连回家吃饭的时间也没有，为了方便索性在公司附近租了一套临时公寓，继母带着一岁多的女儿过去一起住，偶尔周末才回 来。家里只剩下段净夕跟保姆两个人，整间屋子十分清静。段净夕能看得出新来的保姆起初觉得她像被遗弃了，可是她的心里很满意——她太需要这种安静的环境 了。
　　段净夕认为自己并不算是一个非常勤奋刻苦的学生。她只是按时完成老师布置的作业，绝不会另行买参考书做额外的练习，课余时间都在看小说。可是她上课和做作业的时候，是绝对认真的，这也在某种程度上使得她的成绩非常优秀。
　　
　　初一年级有八个班，语数英三科老师教相邻的两个班，其余副科八个班的任课老师都一样。
　　有一次做课间操，段净夕下楼时无意中在班的队伍里发现陆慎析的身影。
　　虽然已经不再像五年级时那样关注陆慎析，但是段净夕也没有刻意屏蔽跟他有关的信息。后来知道陆慎析在八班读书，是八班的班长。
　　初中的校园虽然跟小学面积差不多，每个年级的学生人数却翻了一倍。段净夕在校园里极少碰到他。
　　期中考过后一周，段净夕被班主任叫到办公室。升上初中后段净夕就很少进办公室，班主任的话很简单：她在期中考获得年级第一名，年级主任想让她写一份演讲稿在一周后的全校表彰大会上发言。
　　段净夕不关心自己的排名，但是这一刻，她突然很想知道陆慎析现在学习怎么样了。
　　办公桌上有一份年级期中考排名前二十名的表彰名单，听班主任的话时她浏览了一下那份名单，看到陆慎析的名字列在第三位。
　　那一刻，她放心了：他的成绩没有后退。
　　
　　下午的课间，段净夕坐在位子上帮一个叫陈燕的女生讲解习题。。
　　不当班长，意味着她的闲暇时间不会被班级事务占用，她有更多的时间看课外书或者帮同学解答疑难。
　　陈燕听她讲解的间隙忽地开口：“今天放学后有足球赛。段净夕，你去不去看？”
　　班长听到她们的对话走了过来，装出严肃的样子以命令的口气说道：“段净夕，你也要去看！这是集体活动，给我们班的男生加加油。”
　　“对啊！就是！”在讲台上擦黑板的体委也附和。。
　　听他们的口气，好像她平时对集体活动一点也不积极热情。。
　　段净夕向班长点点头，“好，知道了。”
　　班长得到她的答复，扔下一句“一定要来”才放心地走了。。
　　段净夕看着陈燕写出正确答案，点头嘉许：“嗯，就是这样算。”。
　　陈燕开心地道谢：“谢谢你段净夕！”
　　
　　放学后，段净夕收拾东西跟女生们一起下楼到了操场。。
　　绿草如茵的足球场上，男生们在做热身运动。段净夕在草坪上看到了一抹久未见到的身影。
　　她转头问陈燕：“我们跟哪个班比赛？”
　　陈燕答道：“班啊！你不知道吗？刚才张超没说吗？”张超是班长的名字。
　　段净夕摇摇头，“好像没说。没事，现在知道就行了。”她扫了一眼场上的人，他比上次看到的时候又长高了，气质变内敛了。
　　以一个男生而言，他的肤色有些白皙，远远看过去很干净俊逸，在一**男生中分外显眼。
　　回想起那次脚受伤的经历，段净夕瞄向他被长裤裹住的右腿。。
　　十一月的天气已经有点冷，男生中有穿长裤的，也有穿短裤的，但是大多都穿着校服的运动T恤，只有他一个人穿着一件整洁的白衬衫，无形中散发出一种独特的气质。。
　　
　　两个班的女生在场边的草地各自坐成一排。热身结束后，随着一声哨响，比赛正式开始。
　　段净夕是第一次看足球赛，虽然对有些规则不是很懂，但是看得很认真，目光一直追逐着那个黑白格子组成的球。
　　上半场进行到一半，她就发现班上的女生讨论频率最高的一个名字从姜尚晖变成了陆慎析。而当陆慎析晃过六班的两名后卫射入一球后，有几个女生直接叛变了，凑到一起议论他。
　　段净夕想起，那时他刚转到他们学校，班上的女生私底下也经常谈论他。现在上了初中，这一点还是没变。
　　毕竟一个人的长相是留给别人的最直观的第一印象，而且他不光相貌出众，学习成绩和个人能力也相当突出。
　　她正想着，突然听到陈燕问：“段净夕，你以前也在青平小学读的吧？”
　　“是啊。”段净夕发现情况开始超出自己的预想。。
　　一个女生摇了摇她的手臂，眼中满是求知：“那陆慎析以前在你们那个学校是不是很受欢迎？”
　　“好像是。”段净夕实言相告。
　　据她所了解，话剧排练那时听王楚怡说四班偷偷喜欢他的女生就有好几个。估计现在年级里对他暗生好感的女生数目已经翻了几倍。
　　回答的同时，她的心中却在狐疑：这跟学习有什么关系？现在的初中生都这么早熟？难道她的观念落后了，身为学生不是应该以学习为第一要务吗？。
　　那个女生又问：“那你跟他熟不熟？”
　　段净夕有点头疼。她已经可以预想到如果她说自己跟他一起表演过话剧和一起上过奥数培训的话必定会被女生们拉住问个不停。
　　所以她毫不犹豫地摇了摇头：“不熟。我们不同班。”说这句话时她在心里告诉自己，这应该不算撒谎。
　　女生脸上掩不住失望之色，“哦——”
　　段净夕心里有些内疚，转念又想：青春期而已，她们的注意力应该过不久就会收回来。</string>
	<string>初中跟小学的最大不同或许在于，学生们迅速成长，对外表越来越注重，身理和心理都如同精心浇灌后的小苗萌发。
　　在这种时期，外表出众的人比起成绩优秀的人无疑更易受瞩目。。
　　段净夕很清楚她跟陆慎析的不同：他属于在人**中非常惹眼的那种人，而如果没有成绩这一层外衣，她多半会被茫茫人海淹没不见。她并非自卑，只是冷静客观地看待这一事实。
　　如果要段净夕形容自己的性格，说得好听一点是“安分守己”，难听一点就是“沉闷无趣”。
　　她始终牢记学生的身份，从来不做出格的事。从小学开始，她就一直遵守各项校规：每天穿校服、扎头发、不染头发、不偑戴首饰。小学时到了夏天她偶尔会穿凉鞋去学校，初中学校明确规定不能穿凉鞋，于是一年四季下来她都穿运动鞋和帆布鞋。。
　　在一些学生看来乏善可陈乃至不通情理的校规，她执行起来却体会到了另一番趣味。
　　在应试教育这样的大背景下，高考前她所要做的事就是好好学习。。
　　而她需要去除一切外界的影响。
　　
　　以前读小学时，段净夕还偶尔会在办公室里碰到陆慎析，现在这样的机会也没有了——段净夕万分庆幸开学那一天班主任问谁以前当过班长时她没有举手。。
　　初中跟小学倒是有一点相同，就是都有数学培训。。
　　期中考过后，年级从每个班选取了四名学生参加数学培训，每逢星期二和星期五下午放学后上课，地点在综合楼六楼一间被搁置的小教室。
　　也许是六班被选中的几名学生都对数学培训兴趣不大，每次培训他们几乎都是最后到的，经常都是坐在教室的倒数第二排。偶尔有一两次到得早了，大家也习惯性地挑后面的位子坐。
　　八班参加培训的人除了陆慎析之外还有一个男生和两个女生。有一次八班的学生来得比较晚，就坐在六班前面一排座位。
　　在这种情况下，段净夕即使想忽略他也没办法，因为他就坐在她斜前方，她只要一抬头就能看到他。他听讲认真，偶尔被坐在身侧的女生拉着讨论题目，也一一耐心回答。。
　　虽然没有特意观察，段净夕也能感觉到他比小学那时沉默了一些。。
　　
　　初中的校园不大，初一的八个班级分布在教学楼的五楼和六楼，六班的教室位于五楼，离学校大门最近。距离下午第一节课的上课时间还有七分钟，段净夕被班上一个女生拉到走廊上聊天。
　　正是学生们下午回校的高峰时段，大批学生从大门涌向教学楼这边，她低下头时就在人**中看到了陆慎析的身影。
　　一个学期过去，段净夕总觉得他给人的感觉变内敛沉稳了——时至今日，她的脑海里还残留着那次去农场郊游时他对她说“我会”时的印象，明净的笑容映着绿树蓝天，就像是相册中最显眼的一幅照片。
　　像是为了印证她的记忆般，一个男生此时走到他身边，跟他说了什么，他微笑着回了一句话，泉水般透澈的笑容潺潺地融在春日明媚的阳光中。
　　段净夕不禁回想起数学培训的情景。
　　她说不出具体有哪里不一样，即便他的笑容依旧明亮，但是跟记忆有些不同，而他周身的气场在明显变化着，有一些事让他的气质逐渐在同龄人中凸显。。
　　可是这跟她有什么关系？
　　所以她看了一眼手表，对班上那个女生说：“要上课了。”。
　　“哦。”女生跟她一起走回教室。
　　
　　那个星期五晚上，年级组织学生们前往电影院观看一部爱国教育电影。。
　　电影院离学校不远，走过去只需四十多分钟的路程。下午放学后段净夕回家吃晚饭并洗了澡，然后离家前往电影院。
　　路上她碰到陈燕、班长张超和姜尚晖，于是跟他们并肩而行。陈燕跟两个男生在谈论一部电视剧，段净夕完全没看过自然无从聊起，便静静地听他们讨论。后来姜尚晖也安静下来，过了一会跟她聊起了历史课上的趣事，她便凭印象跟他聊了几句。。
　　电影院越来越近，街道上三五成**都是前去观影的学生。快走到电影院时，后面一辆自行车从他们身边骑了过去。骑车的是一个男生，头发短而黑，白衣长臂，一双腿分外修长。
　　段净夕几乎立时就认出那个人的身影。
　　陈燕眼力极佳，“咦？是陆慎析。”
　　班长也叫出来：“陆慎析！”
　　陆慎析听到叫唤立即刹车停下，扭头望了过来，一手撑着手把，一脚随意地支在地上，湛黑迥亮的目光在四人身上掠过，擦过她时多停留了.秒。。
　　
　　自从上学期在班上的女生面前斩钉截铁地表明跟他不熟后，段净夕几次在校园里碰到他都是目不斜视，偶尔在数学培训的教室见到他也从不跟他说话。她估计以他的智商绝对看出了她在刻意跟他划清界限。
　　班长关心的是昨天的友谊赛：“昨天下午你们班跟班的比赛怎么样？”年级的足球赛是上学期举行的，昨天八班跟七班踢的是友谊赛。
　　陆慎析云淡风轻地笑了笑，头顶的黑发随风微微抖动，“赢了。”。
　　随着一问一答，四名学生已经走到他身旁。陈燕对陆慎析非常好奇，来回打量着他。
　　“几比几啊？”这回问话的是姜尚晖。
　　“二比一。”
　　班长又说：“下次我们两个班也组织一场比赛吧。”。
　　“可以啊。”
　　正是春回大地的季节，自行车上的男生身穿长裤和白衬衫，笑容疏浅，清俊淡定的眉眼静静地融在如诗般的黄昏中，简练白净的衬衣在稀薄的暮色中涂出一层水墨画般的隽永韵味。
　　“那就这么说定了。”
　　陆慎析朝班长摆摆手，清湛的目光在四人当中一点而过，“那我先走了。”骑车驶向电影院的停车场。
　　
　　星期二下午放学后照例进行数学培训。
　　下午初三的班级刚用过这间教室，桌子上残留了一些橡皮屑，段净夕把卷子和笔记本放到椅子上，把橡皮屑扫到一张纸巾上包起来，又用另一张纸巾将桌子来回擦了两遍才去洗手间洗手。
　　洗完手出来，她听到水哗哗直流的声响，似乎是从旁边的男厕所传出来的。
　　水声这么大，听起来应该是水闸坏了，又或者是有人忘了关水龙头。。
　　段净夕走到男厕所门口，扬声问道：“有人吗？”。
　　没人应答，只听到汹涌澎湃的流水声。
　　她又问了一遍：“请问里面有人吗？”
　　还是没人回答。
　　
　　段净夕早就发现自己身体深处的冷血因子似乎只对人起作用，所以她无法对浪费水资源的现象置之不理，但是又不敢贸然进去——现在是放学后，有不少学生在综合楼参加各种形式的课外活动，随时会有人过来。
　　她想了一下，决定还是进去看一下。
　　就在这时，她的身后响起一副熟悉的声音：“你在这里干什么？”。
　　她转头见是陆慎析，立时松了一口气，用手指了指男厕所，几乎是恳求地对他说：“里面的水龙头好像坏了，水一直流个不停。你能不能进去看一下？”。
　　话音还没落下，陆慎析已经越过她，迈步走进厕所。。
　　段净夕没有走开，仍旧站在原地，凝神倾听事态的发展。。
　　他进去不到五秒钟，之前一直哗啦作响的水声一下子变弱，接着彻底消失。
　　又过了几秒钟，陆慎析从里面走出来，甩了甩刚洗过的双手，“洗水池的水龙头没关，现在好了。”
　　“谢谢。”
　　陆慎析看着她，“你谢我什么？”
　　段净夕也不知道如何表达，看了他两秒，食指指了指天花板：“要上课了。”
　　转身走向上课的教室。
　　
　　初二开学时，六班换了一个数学老师。
　　过去一年六班每门课的老师都跟五班一样，到了初二这一年，改由八班新换的班主任担任他们的老师。五班和七班的数学老师也同时换了人。
　　六班新换的数学老师——八班的新班主任姓肖，是一个三十岁左右的男人，给人的感觉有几分寡言沉稳，数学造诣极深，随便一道题都能讲出好几种解题方法。。
　　下课后段净夕和班长被数学老师叫到办公室讲解上课前问的一道几何题。数学老师大概是上课的时候叫她的名字叫顺口了，讲完后直接忽略了她旁边的班长张超，说道：“段净夕，你帮我去八班叫一下陆慎析。”
　　段净夕看着尊敬钦佩的老师，应道：“好的。”。
　　出了办公室，班长跟她挥挥手，“段净夕，那我先回教室了。”。
　　“好。”
　　段净夕望了一眼教学楼走道尽头的八班教室，一步步走了过去。。
　　
　　正当课间，八班的教室里闹哄哄的。
　　升上初二后，学生们多了一门物理课要学。下课后陆慎析给第二排的一名女生讲解练习册上一道物理题，忽然听到周围同学的议论声：“咦？那不是段净夕吗？”。
　　“她来我们班干什么？”
　　“找人的吧。”
　　“她会找谁？”
　　“……”
　　
　　陆慎析正对着窗户而站，抬头望出去就看到走廊上盈盈而立的身影。。
　　十月的季节，秋风微凉，教学楼走廊上栽种的花草随风轻荡。女生穿着一身白底蓝边的水手服和深蓝色裙子，宛如四月的鸢尾在风中静静地绽放。。
　　她本来有些窘迫和不自在，看到他时似乎整个人都变轻松了，眸子划过一道亮光。
　　陆慎析从她的眸子里读出了一句话：她是来找他的。。
　　他跟那名女同学示意了一下，走出教室。
　　
　　这几乎是上初中以来，陆慎析第一次在她脸上看到名为“欢迎”的神色。
　　段净夕见他出来，如释重负地迎了上去，“肖老师叫你去一下办公室。”
　　“知道了。”
　　顺利完成任务，段净夕也准备回教室——还是自己班的教室最好。</string>
	<string>十月下旬，学校要举行一年一度的田径运动会。
　　小学的六年，段净夕作为班长每年运动会都要负责班级的各项后勤工作，去年的运动会则在观众席上充当观众。也许是她在上学期体育课考800米时的表现过于抢眼，加上6班一个擅长中长跑的女生前几天由于出水痘请假回家休养，课间体育委员找到她，希望她能参加女子800米的比赛。
　　段净夕听了体育委员的陈述后就点头：“可以。”
　　体委大喜过望，小心地瞅了她一眼，又说：“那你再参加一下4×100米的比赛好不好？”
　　怕她不答应，体委又补上一句：“孙璐可能要下下个星期才能回来，我们班人不够。”因为孙璐的突然生病，现在6班的女子接力项目非常缺人。
　　“可以。”
　　段净夕思索了一秒，补道：“不过我短跑爆发力不是很好，不知道会不会影响我们班的成绩。”跟仰仗毅力的800米不同，100米短跑更依赖于选手的爆发力。
　　体委大手一摆，对她做了一个宽慰的表情：“绝对不会！只要你能参加就行了！”
　　班长正在跟她后面的女生聊天，此时也开玩笑地说：“就是！这叫全面发展。”
　　段净夕笑了笑，这完全不是她考虑的内容——也许是因为当过六年的班长，段净夕发现自己身上还残留着一点集体荣誉感。由于她在初一四次大考中都稳居年级第一，初二开学后，班主任让她担任班上的学习委员，但也只是一个头衔，没让她分担什么班级日常事务。运动会她可以略尽绵力。

　　接下来一个多星期，每天下午放学后的半个多小时，段净夕都在操场上练习800米和100米，星期六日则到临海大道上练习。
　　下午她在跑道上练习100米。
　　随着运动会临近，学生们进行体育锻炼的热情也随之高涨，操场上有不少学生都在练习田径项目。
　　段净夕在百米直道最外侧那条跑道练习，不时有人从她身边掠过。跑到终点后她重新走回起跑线，途中被刚从教工食堂吃饭回来的地理老师叫住。
　　地理老师27岁左右，是6班的英语老师的丈夫，因为这个缘故平日对6班的学生尤为亲切。
　　老师等她走近后问道：“段净夕，在跑步吗？”
　　“是的，老师。”
　　地理老师想起刚才看到她时她正在往回走，又问：“你在练100米？”
　　段净夕点点头，答道：“800米和100米。”
　　“练得怎么样了？”
　　“800米还好，除了后面有点累。100米就是临阵磨磨枪。”100米是团体项目，发挥不好会影响整体。但是段净夕也知道，短跑这种东西跟天赋有关，并非练几天就能突飞猛进。她只是尽力而已。
　　“来，老师找个人陪你练一练。”
　　老师将目光移向她身后，抬手招了招，“陆慎析，来！”刚好两个得意门生都在。
　　段净夕微微一怔，随即转头。

　　陆慎析刚跑到跑道的环形区域，看到她俊脸略微浮现诧异，走过来跟老师打招呼：“老师好。”
　　他今天没像往常一样穿衬衫，而是穿了校服中的白色运动T恤和深蓝色运动长裤，这使得他看上去不若穿衬衫时清隽锐气，多了几分随意的阳光，格外清俊醒目。
　　段净夕立时醒悟：原来他也在跑步。
　　她忽然想起，去年他似乎参加过运动会的一个短跑项目，而且好像还拿了一个很不错的名次。不知道他是不是参加了今年的运动会。
　　地理老师拍了拍他的肩膀，语气熟谙：“刚好段净夕也在练跑步，你陪她练一下100米，让她找找感觉吧。”
　　全年级的学生都知道地理老师是一个标准体育迷，各项体育运动都很在行，放学后经常跟年级的男生一起踢球，跟男生们关系很好。
　　段净夕刚想开口说“不用麻烦”，陆慎析已经点头：“好的。”

　　地理老师在起跑线附近站好，给他们充当裁判。
　　段净夕听到号令率先冲了出去，他过了一瞬才迈出步子。
　　100米的距离不长也不短，在800米项目里只占了全程的1/8，还不到跑道的半圈，却又仿佛很长。
　　风疾速从身边掠了过去，耳边所有声音都听不见了，段净夕的视野里只剩下红色的跑道和前方尽头的白色围墙。
　　她感觉到他跑得很轻松。他没有尽全力，但是总是比她快了那么一点点——就像是在引导她一样。
　　最后他比她快了半个身到达终点。

　　段净夕大口大口地喘气，而他跑完100米后没有什么强烈的反应。
　　她原本想问他参加了运动会哪个项目，转念又想，他跑什么项目跟她又有什么关系，便没作声。
　　两人返回起跑点，地理老师半路迎了上来，“怎么样？再跑一次？”
　　段净夕也想再跑一次，看清楚自己跟他的差距到底有多大。
　　“老师，再跑一次。”陆慎析开口。
　　刚才那一次赛跑段净夕已经把爆发力用得差不多了，这次的速度自然无法跟刚才相提并论。这次他还是快了她半个身到达终点。

　　下午放学后，8班的教室只有零零散散几个学生。
　　陆慎析在讲台上擦黑板。
　　一个男生在讲台靠近窗户的那一侧用粉笔模拟投篮的动作，一边问其他值日生：“你们有没有觉得最近王老师突然变得很和蔼可亲？”
　　下面一个女生从卷子抬起头，“你现在才发现？前几天语文课都在梦游吗？”
　　男生伸手接住往下落的粉笔，刚想说“我前几天上课都在睡觉”，倏地定住目光望着窗外，无暇顾及语文老师的话题：“咦，那个是不是段净夕？”
　　“哪里？”
　　“在操场跑步的那个。下面！”
　　6班、7班和8班的教室都在教学楼靠近操场的一侧，能够看到整个操场的情景。那个女生离开座位走到窗户边上，将跑道上的情景看了个一清二楚，“真的是段净夕。”
　　操场上散落着不少学生，或在锻炼或在嬉戏，说话声和欢笑声远远地传了过来。段净夕围着跑道在安静地慢跑。
　　陆慎析刚擦完黑板，放下黑板擦后望向操场，也在红色跑道上看到了那抹蓝白色的身影。
　　那个女生转头问陆慎析：“陆慎析，你不是参加了400米和1500米比赛吗？不用下去跑步？”
　　陆慎析收回目光，拍去手上的粉笔尘，“等一下再去。”转身走出教室。

　　从洗手间洗完手回来，陆慎析在教室前门停下脚步——这边的角度虽然有点偏，也能看到大半个操场。
　　秋末的阳光从高楼后面擦过，斜斜地打在校园里，操场一半陷在高楼投射出的巨大阴影里，一半落入亮金色的大网中。
　　草坪上弥漫的悠闲氛围与教学楼的喧闹形成了鲜明的对比。
　　陆慎析双手撑到栏杆上，望向跑道上奔跑的人影。
　　天高云阔，风不绝地吹着。她今天把水手服的上衣和运动服的深蓝色长裤混到一起穿在身上，衣袂随风飞扬。
　　跑道上有学生在追逐打闹，她不时错身避开，就这样围绕着光影交叠的跑道跑了一圈又一圈。
　　陆慎析静静地望着操场上的人，眸光深长。
　　夕阳的光线在操场上一点一点地移动着，风送来阵阵凉意，他将双手交握，推远视线，目光越过操场上空，望向远处的大楼。

　　运动会定于星期六举行，当天的学校教学楼显得分外空旷静谧，与此相反，操场上则是人声鼎沸。
　　今天6班在所有参加的项目上都有所斩获，得分在8个班中一直遥遥领先。
　　初二女子4×100米的小组赛和决赛都在早上举行，6班在决赛中拿了第二名。女子800米的决赛被安排在下午举行。
　　下午的决赛，段净夕像过去考试一样留了一点体力拼第二圈，快到终点时用尽全身力气加快脚步，最终紧随第一名选手第二个冲过终点。
　　班长和几名学生在终点处等候结果，看到这里都不禁脸露喜色——去年孙璐获得了这个项目的第三名。
　　“辛苦了！辛苦了！喝点水。”班长马上递过一瓶水。
　　段净夕的眼部供氧机能还在缓慢恢复中，视野有些模糊，整个人分不清东南西北，差点拿不稳班长递过来的水，“谢谢。”
　　一旁的姜尚晖拿过水瓶，拧开盖子又重新旋上，“现在先别喝，等一下再喝吧。”
　　“好。”
　　副班长的女生扶她到看台附近的一把椅子休息，对姜尚晖说：“我在这里陪段净夕，你去准备比赛吧。”姜尚晖一会还有比赛要参加。
　　姜尚晖看了她们一眼，将水递过来，“那好，我走了。”
　　段净夕的心脏负荷逐渐回归平稳，没刚才那么难受了，接过水，向他点点头，“加油。”
　　转头又对副班长说：“你去忙你的吧，我在这里坐一会就好了。”
　　副班长也想看比赛，确定她一个人没问题后跟姜尚晖一起走向检录处。
　　他们走开后不久，操场上响起一阵广播：“下面马上要举行的是男子1500米的比赛，请跑道上的同学回观众席坐好。”
　　刚才班长跟姜尚晖聊起1500米项目时，两人说话间提到了陆慎析的名字。
　　段净夕听到广播犹豫了一下，过了几秒，望向跑道——她所处的位置跟跑道终点隔了几十米，一抬头就能看到1500米的起跑点。

　　1500米这个项目并不按年级分组，而是三个年级的参赛选手一起比赛。
二十几名选手站在起跑线上，身高和体型各异，其中有穿田径专用运动裤的，也有穿校服的，最后她的目光在一个穿白衣蓝裤的身影停下。
　　隔得太远，段净夕看不清他的神情，却能感觉到他此刻很镇定，丝毫不紧张。
　　下午的阳光炽热耀眼，风从他身边吹了过去。他身高腿长，目视前方，一边活动手脚，远远看过去相当冷静沉着。

　　比赛要开始了。
　　“呯”的一声，发令枪响起的一瞬间，二十几名参赛选手同时冲了出去。观众席上响起一阵阵不绝于耳的加油声，与此同时主席台上的女生开始念学生写的广播稿子，更显喧闹。
　　段净夕扭开纯净水的盖子，慢慢地喝了一口水。
　　选手们跑第二圈时，一朵膨胀的云团从西边的天空飘过来遮住了太阳，整个操场瞬间暗下来，变得阴凉。
　　当云团移走时，阳光重新照耀整个操场，有几名选手已经跑到了最后一圈。
　　从第二圈起，陆慎析就在队伍前面领跑，甩开了第二名的选手一大截。
　　时间在一秒又一秒中飞速流逝，终点越来越近，观众席上的呐喊助威声也越来越响。
　　段净夕握住手中的水盯着跑道，思绪随风微微飘散。
　　五十米、二十米、十米、五米、三米……
　　在全场观众的见证下，陆慎析毫无悬念地第一个冲过了终点。</string>
	<string>刹那间，8班的观众席爆发出一阵热烈的欢呼声，人**中一片欢腾。
　　8班几名在终点处等候的学生立即围到陆慎析周围，给他递水和递纸巾。
　　陆慎析调整呼吸后接过体委的水，问：“我们班的同学都比完了吗？”
　　体委汇报道：“其他人都比完了，只剩下刘云超的铅球比赛还在比。”
　　又说：“加上你的分数，我们班能排到第二名，6班第一。”
　　陆慎析听后点了点头，朝他们摆摆手，“我一个人坐一会。”
　　体委也深知他此时亟需休息，当下对其他人说：“好了，都散开吧，让班长休息一下。”
　　一名女生给陆慎析递过一包纸巾：“给你擦汗。”
　　陆慎析向那名女生点头致意：“谢谢。”
　　女生朝他笑了笑，又看了他一眼才跟其他人一起离开。
　　等他们都走开后，陆慎析走到看台尽头的运动员休息区，直接坐到地上。

　　“请获得初二年级女子800米前三名的同学到主席台上领奖。”操场上又响起一阵广播。
　　段净夕站起来，将椅子摆好，拿着水瓶走向主席台。
　　下午的阳光淋漓尽致地泼在操场上。这个时候跑道上进行的项目差不多都比完了，草坪上还在进行铅球等项目。
　　段净夕拿完奖牌和奖状离开主席台，走向6班的观众席。
　　刚才她去领奖时扶了一下主席台的栏杆，放下奖牌和奖状就准备去教学楼洗手。
　　刚好有一个女生想去小卖部买水，于是跟她一起离开看台。
　　主席台上的女生不失时宜地进行广播：“我们刚刚得知，我们学校的1500米纪录刚才被获得第一名的陆慎析同学打破了，让我们为运动健儿的出色表现鼓掌！”
　　观众席上立时响起一片掌声和欢呼声。

　　从看台的阶梯下来，段净夕扫视一眼操场，视线掠过看台墙边时停滞了一秒——陆慎析正坐在看台墙下。
　　他背倚墙壁，双脚自然分开，手肘散漫地撑于屈起的膝盖上，一手拿着矿泉水的瓶子，目光望着操场。
　　这时已经过了下午四点，阳光的热度逐渐褪去，他整个人都陷在看台落成的阴影里，偶尔有几丝凉风从他身上吹过，他浑然不觉，只是静静地望着翠绿色的草坪，黝黑的视线被看台的阴影拉得悠长。

　　犹如一幅色调微冷的水彩画。色彩涂抹简单，意境却深远。
　　操场上一片闹腾，各个角落都有学生的说话声，然而似乎只有他一个人被隔绝这片喧嚣之外，独享一隅静谧。

　　期中考过后那个星期，初二全体学生前往军事教育基地进行为期一周的军训。
　　军训基地建在郊外，依山傍水，林木葱茏，望过去一片浓浓的绿色。
　　到了基地，6班的学生还没放行李就在烈日下站了十五分钟的军姿。于是当天中午，全年级的人都知道6班有一个全营最严厉的教官。
　　六连的教官对学员的要求极为严苛，当其他连的学员早早结束训练、在树荫下休息的时候，六连的学员还在训练场上挥汗如雨地训练。

　　军训为期五天半，第一天无疑是最难熬的。到了第二天，学生们已经开始适应基地的军训生活，也没再出现吃饭吃到一半因为说话被教官喊起来站军姿的情况。而到了第三天，吃饭前营长的例行训话更短了。
　　中午吃完饭，全体学员回宿舍休息。
　　6班的女生住在三楼，男生住一楼。晚上要交军训日志，女生们回了宿舍就拿出本子写日志。
　　今天早上的训练没有前两天那么累，有几个女生写完军训日志后坐到一起聊天，段净夕从柜子里拿出《三个□□手》坐在床头看。
　　陈燕睡在她下铺隔壁，踩着下铺的床板到她跟前好奇地问：“段净夕，你在看什么书？”
　　段净夕阖上书，给她看封面。
　　陈燕装作很严肃地对她说：“段净夕，你可不可以不要看这么深奥的书？你再继续看这种书的话，跟我们的差距会越来越大的，想追上我们就更难了。”
　　段净夕被她的幽默逗笑，“是吗？”
　　“当然是的！别看了，跟我们聊一聊吧。”
　　段净夕把书收起来，“好。”其实她一直觉得聊天毋须刻意，只要话题有足够的吸引力，旁听的人感兴趣的话自然会加入。
　　不过估计到头来她也是听的份。

　　军训时期的卧谈会，无非就是聊教官和训练。
　　女生们把全营的教官简单地过了一遍：哪个脾气最好，哪个最会讲冷笑话，哪个最体恤学员……
　　聊完教官，一个女生突然问：“你们觉得我们年级哪个男生好看？”
　　另一个女生回答：“薛剑明。我觉得他笑起来很开心。”
　　陈燕奇怪地问：“难道你笑的时候不开心？”
　　“我现在就觉得教官笑起来很恐怖。”
　　“是啊，我也觉得！我好怕站军姿。”
　　有一个女生说：“我觉得8班的陆慎析更好看。”
　　马上有女生附和：“对对对！陆慎析是很好看。”
　　“而且他踢球很厉害，运动会上还破了我们学校1500米的纪录。”
　　“他成绩也很好。”
　　一个平时学习很用功的女生问：“有段净夕好吗？”在刚结束的期中考试中，段净夕囊括了总分第一以及年级五项单科第一的头衔，总分甩开排在年级第二的5班女生十几分。
　　之前那个女生回答：“当然没有啦。”虽然陆慎析每次考试都排在年级前十名，可是段净夕是每次都排第一。
　　陈燕说：“你不要拿别人跟段净夕比嘛，是不是啊，段净夕？”
　　突然被引入话题之中，段净夕也不好发表意见，只能微微一笑。
　　她想起小学时的情景——那时他有几次考试都排在她前面。只是可能现在对他而言，有别的事情比学习更重要。

　　基地远离尘嚣，分外安静，正午的阳光绵长，使人睡意不断上涌，宿舍里的谈话声逐渐低了下来，女生们很快陷入沉睡。
　　段净夕收好书，也躺下来准备睡觉。
　　没了说话声，宿舍里一下子变得很安静，只听到天花板上风扇运转的声音。
　　段净夕的床在上铺，位置靠着窗户。从窗户望下去，可以看到一个小小的池塘，有几条鱼在碧绿色的水里自由自在地畅游着，池塘边上种着几棵树，绿意盎然，几只小鸟在树上发出清脆的叫声。
　　这样的时光很惬意。


　　阅兵仪式上最重要的项目是正步走，所以军训期间起码有两天时间学员们都是练正步走。
　　星期四凌晨三点半全营围绕着基地外的一座山拉练，差不多七点才回到基地，当天早上学员吃完早餐就回宿舍休息，不用再进行常规训练。
　　下午，六连跟五连、七连和八连一起在训练棚操练，其余四个连则在其它地方操练。
　　走过两趟正步后，6班的学生都已经看出本连教官的脸色越来越不满。
　　教官冷下脸：“才一个早上没训练，就把正步走的动作全忘光了？”
　　全连鸦雀无声，没有一个人敢说话。
　　段净夕突然听到教官喊自己，气势如虹：“第一排第二个女生！出列！”
　　她一惊，连忙踏步而出，却不知道自己哪里做错了。
　　她知道班上有不少女生都是踢正步的时候踢得像模像样，但是落地的时候都是轻轻一放——这样能避免脚底砸到地面的痛楚，而她的脚底每次都是货真价实地砸地。
　　练了一天半的正步，她的脚底已经快麻了，不知道是不是刚才落地那一瞬间动作没做到位，只能等教官发话。

　　教官脸上颇有风雨来袭的感觉，说出的话依旧气势不减：“你们好好看看什么是正步走！”
　　接着转向段净夕，下令：“正步——走！”
　　原来是叫她示范动作。
　　段净夕放下心来，踢出左脚的同时举起右手，脚尖绷得直直的。接着一步一步走下去，动作一板一眼，每一步都十分到位，鞋底砸在水泥地面上发出清脆的声音。
　　训练棚里有四个连在训练，七连的队伍刚走到训练棚的另一侧，五连和八连都坐在地上休息，连同六连在内三个连的学员都望着她的动作。
　　直到教官喊“停”她才收住脚步。
　　教官如千-年-玄-冰般寒冷的脸微微松动，“入列！”

　　待她回到队伍站好，转向众人时又立刻换为黑脸，声音几乎响彻整个训练棚：“看清楚了没有？这才是正步走！你们再不好好走，我让你们吃不上晚饭！”。
　　五连队伍的位置跟六连在同一条水平线上，连长说道：“看到人家的动作了吗？多标准！这才叫正步走！”
　　八连的学员所坐的位置跟六连隔了十来米，他们和蔼的连长也跟着发话：“你们都看清楚了吗？学学人家的动作。”。
　　一向严厉的教官们难得共同发扬幽默感，三个连的学生都不禁脸露笑容。
　　接下来的训练非常乏味，学生们一遍又一遍地重复练正步走。

　　当天晚上全营组织观看电影。吃完晚饭，段净夕放好餐具准备到食堂外面的洗手池洗手，走到门口时碰到班长张超跟陆慎析。两个男生边说话边往外面走，手上分别拿着一瓶饮料，显然是刚在食堂的小卖部买的。
　　班长叫住她：“段净夕，等一下你通知我们班的女生，教官把今晚的集合地点改到宿舍楼下了，还是六点四十五。”
　　“好。”段净夕点点头，转身走出食堂。

　　学生们刚吃完饭，洗手池前的人比较多，一眼望过去都是军绿色的身影，段净夕排在最边上的凉水水龙头的队伍前等候。
　　8班的两名女生举着水壶在门口右侧的开水水龙头前装热水，一边说着话：
　　“过完今天还剩一天就可以回家了。”
　　“我还好，没那么想家。”
　　女生转头跟同伴说着，这一转头自然就分神了，手上的水壶一歪，霎时间热水飞溅。她旁边的同伴来不及躲开，立时被滚烫的热水溅到，“啊”地痛呼出声，手腕的皮肤一下子红了一大片。
　　女生也慌了：“啊！对不起对不起！”
　　段净夕刚想说“用冷水冲”，只见陆慎析直接扭开手上刚买的矿泉水，一步踏上，把瓶子里的水淋到那个女生的手上。
　　其他学生只能后知后觉地看着这场突如其来的变故。
　　等瓶子里的水都倒完后，陆慎析扭上盖子，对班上的女生说：“这水还没喝过。去那边冲一冲，等一下再去医务室那里看看吧。”
　　“哦好！谢谢！”8班的两个女生剩下的唯一反应就是道谢。
　　陆慎析将手上的空瓶子扔进食堂门口的垃圾桶里，这才走到洗手池前开始洗手。
　　段净夕已经排到队伍的最前面，收回目光，旋开水龙头低头洗手。
　　这一刻她心里更加理解为什么年级里那么多女生都暗自倾心于他了：当其他学生还只会听课做习题时，他已经能够冷静泰然地处理突发事件，气度凌驾于众人之上。

　　星期五早上，六连的学员跟着五连一起在大操场进行阅兵排练——六连的教官要单独为两名刚选出来的护旗手进行操练。
　　五连和六连到操场附近休息的时候，两名护旗手还在操场上排练，于是一百多双眼睛都好奇地望着他们。
　　烈日当空，隔得有点远，护旗手的样子看不清。
　　两名男生从阅兵□□出发，经过主席台时换成正步走，摆臂、踢腿动作十分整齐一致，迈出的每一步都跟机械一样，标准得就像久经训练的士兵，英姿焕发。
　　段净夕喝完水再望向操场时，两名旗手已经回到了阅兵□□，其中一名男生正在低头整理手中的国旗，侧影颀长，脸部线条坚毅，眉眼清冽——是陆慎析。
　　他旁边另一个旗手是3班的男生，个子也很高。
　　两个男生都穿着军绿色的军服，双手戴着雪白的手套，身高臂长，映着大操场的蓝天绿草，更显英气。

　　翌日早上的阅兵仪式十分成功。
　　校长亲自前来阅兵，年级主任和八个班的班主任一同观看学生们的蜕变成长。
　　八只队伍陆续入场，两名护旗手在全营学员的注视下护着国旗一直走到旗杆前，国歌奏响时国旗迎风飘扬。学员们嘹亮而富有气势的应答声给为期一周的军训划下了完美的句号。

　　初二的军训就这样结束了。
10、

刹那间，8班的观众席爆发出一阵热烈的欢呼声，人**中一片欢腾。
　　8班几名在终点处等候的学生立即围到陆慎析周围，给他递水和递纸巾。
　　陆慎析调整呼吸后接过体委的水，问：“我们班的同学都比完了吗？”
　　体委汇报道：“其他人都比完了，只剩下刘云超的铅球比赛还在比。”
　　又说：“加上你的分数，我们班能排到第二名，6班第一。”
　　陆慎析听后点了点头，朝他们摆摆手，“我一个人坐一会。”
　　体委也深知他此时亟需休息，当下对其他人说：“好了，都散开吧，让班长休息一下。”
　　一名女生给陆慎析递过一包纸巾：“给你擦汗。”
　　陆慎析向那名女生点头致意：“谢谢。”
　　女生朝他笑了笑，又看了他一眼才跟其他人一起离开。
　　等他们都走开后，陆慎析走到看台尽头的运动员休息区，直接坐到地上。

　　“请获得初二年级女子800米前三名的同学到主席台上领奖。”操场上又响起一阵广播。
　　段净夕站起来，将椅子摆好，拿着水瓶走向主席台。
　　下午的阳光淋漓尽致地泼在操场上。这个时候跑道上进行的项目差不多都比完了，草坪上还在进行铅球等项目。
　　段净夕拿完奖牌和奖状离开主席台，走向6班的观众席。
　　刚才她去领奖时扶了一下主席台的栏杆，放下奖牌和奖状就准备去教学楼洗手。
　　刚好有一个女生想去小卖部买水，于是跟她一起离开看台。
　　主席台上的女生不失时宜地进行广播：“我们刚刚得知，我们学校的1500米纪录刚才被获得第一名的陆慎析同学打破了，让我们为运动健儿的出色表现鼓掌！”
　　观众席上立时响起一片掌声和欢呼声。

　　从看台的阶梯下来，段净夕扫视一眼操场，视线掠过看台墙边时停滞了一秒——陆慎析正坐在看台墙下。
　　他背倚墙壁，双脚自然分开，手肘散漫地撑于屈起的膝盖上，一手拿着矿泉水的瓶子，目光望着操场。
　　这时已经过了下午四点，阳光的热度逐渐褪去，他整个人都陷在看台落成的阴影里，偶尔有几丝凉风从他身上吹过，他浑然不觉，只是静静地望着翠绿色的草坪，黝黑的视线被看台的阴影拉得悠长。

　　犹如一幅色调微冷的水彩画。色彩涂抹简单，意境却深远。
　　操场上一片闹腾，各个角落都有学生的说话声，然而似乎只有他一个人被隔绝这片喧嚣之外，独享一隅静谧。

　　期中考过后那个星期，初二全体学生前往军事教育基地进行为期一周的军训。
　　军训基地建在郊外，依山傍水，林木葱茏，望过去一片浓浓的绿色。
　　到了基地，6班的学生还没放行李就在烈日下站了十五分钟的军姿。于是当天中午，全年级的人都知道6班有一个全营最严厉的教官。
　　六连的教官对学员的要求极为严苛，当其他连的学员早早结束训练、在树荫下休息的时候，六连的学员还在训练场上挥汗如雨地训练。

　　军训为期五天半，第一天无疑是最难熬的。到了第二天，学生们已经开始适应基地的军训生活，也没再出现吃饭吃到一半因为说话被教官喊起来站军姿的情况。而到了第三天，吃饭前营长的例行训话更短了。
　　中午吃完饭，全体学员回宿舍休息。
　　6班的女生住在三楼，男生住一楼。晚上要交军训日志，女生们回了宿舍就拿出本子写日志。
　　今天早上的训练没有前两天那么累，有几个女生写完军训日志后坐到一起聊天，段净夕从柜子里拿出《三个□□手》坐在床头看。
　　陈燕睡在她下铺隔壁，踩着下铺的床板到她跟前好奇地问：“段净夕，你在看什么书？”
　　段净夕阖上书，给她看封面。
　　陈燕装作很严肃地对她说：“段净夕，你可不可以不要看这么深奥的书？你再继续看这种书的话，跟我们的差距会越来越大的，想追上我们就更难了。”
　　段净夕被她的幽默逗笑，“是吗？”
　　“当然是的！别看了，跟我们聊一聊吧。”
　　段净夕把书收起来，“好。”其实她一直觉得聊天毋须刻意，只要话题有足够的吸引力，旁听的人感兴趣的话自然会加入。
　　不过估计到头来她也是听的份。

　　军训时期的卧谈会，无非就是聊教官和训练。
　　女生们把全营的教官简单地过了一遍：哪个脾气最好，哪个最会讲冷笑话，哪个最体恤学员……
　　聊完教官，一个女生突然问：“你们觉得我们年级哪个男生好看？”
　　另一个女生回答：“薛剑明。我觉得他笑起来很开心。”
　　陈燕奇怪地问：“难道你笑的时候不开心？”
　　“我现在就觉得教官笑起来很恐怖。”
　　“是啊，我也觉得！我好怕站军姿。”
　　有一个女生说：“我觉得8班的陆慎析更好看。”
　　马上有女生附和：“对对对！陆慎析是很好看。”
　　“而且他踢球很厉害，运动会上还破了我们学校1500米的纪录。”
　　“他成绩也很好。”
　　一个平时学习很用功的女生问：“有段净夕好吗？”在刚结束的期中考试中，段净夕囊括了总分第一以及年级五项单科第一的头衔，总分甩开排在年级第二的5班女生十几分。
　　之前那个女生回答：“当然没有啦。”虽然陆慎析每次考试都排在年级前十名，可是段净夕是每次都排第一。
　　陈燕说：“你不要拿别人跟段净夕比嘛，是不是啊，段净夕？”
　　突然被引入话题之中，段净夕也不好发表意见，只能微微一笑。
　　她想起小学时的情景——那时他有几次考试都排在她前面。只是可能现在对他而言，有别的事情比学习更重要。

　　基地远离尘嚣，分外安静，正午的阳光绵长，使人睡意不断上涌，宿舍里的谈话声逐渐低了下来，女生们很快陷入沉睡。
　　段净夕收好书，也躺下来准备睡觉。
　　没了说话声，宿舍里一下子变得很安静，只听到天花板上风扇运转的声音。
　　段净夕的床在上铺，位置靠着窗户。从窗户望下去，可以看到一个小小的池塘，有几条鱼在碧绿色的水里自由自在地畅游着，池塘边上种着几棵树，绿意盎然，几只小鸟在树上发出清脆的叫声。
　　这样的时光很惬意。


　　阅兵仪式上最重要的项目是正步走，所以军训期间起码有两天时间学员们都是练正步走。
　　星期四凌晨三点半全营围绕着基地外的一座山拉练，差不多七点才回到基地，当天早上学员吃完早餐就回宿舍休息，不用再进行常规训练。
　　下午，六连跟五连、七连和八连一起在训练棚操练，其余四个连则在其它地方操练。
　　走过两趟正步后，6班的学生都已经看出本连教官的脸色越来越不满。
　　教官冷下脸：“才一个早上没训练，就把正步走的动作全忘光了？”
　　全连鸦雀无声，没有一个人敢说话。
　　段净夕突然听到教官喊自己，气势如虹：“第一排第二个女生！出列！”
　　她一惊，连忙踏步而出，却不知道自己哪里做错了。
　　她知道班上有不少女生都是踢正步的时候踢得像模像样，但是落地的时候都是轻轻一放——这样能避免脚底砸到地面的痛楚，而她的脚底每次都是货真价实地砸地。
　　练了一天半的正步，她的脚底已经快麻了，不知道是不是刚才落地那一瞬间动作没做到位，只能等教官发话。

　　教官脸上颇有风雨来袭的感觉，说出的话依旧气势不减：“你们好好看看什么是正步走！”
　　接着转向段净夕，下令：“正步——走！”
　　原来是叫她示范动作。
　　段净夕放下心来，踢出左脚的同时举起右手，脚尖绷得直直的。接着一步一步走下去，动作一板一眼，每一步都十分到位，鞋底砸在水泥地面上发出清脆的声音。
　　训练棚里有四个连在训练，七连的队伍刚走到训练棚的另一侧，五连和八连都坐在地上休息，连同六连在内三个连的学员都望着她的动作。
　　直到教官喊“停”她才收住脚步。
　　教官如千-年-玄-冰般寒冷的脸微微松动，“入列！”

　　待她回到队伍站好，转向众人时又立刻换为黑脸，声音几乎响彻整个训练棚：“看清楚了没有？这才是正步走！你们再不好好走，我让你们吃不上晚饭！”。
　　五连队伍的位置跟六连在同一条水平线上，连长说道：“看到人家的动作了吗？多标准！这才叫正步走！”
　　八连的学员所坐的位置跟六连隔了十来米，他们和蔼的连长也跟着发话：“你们都看清楚了吗？学学人家的动作。”。
　　一向严厉的教官们难得共同发扬幽默感，三个连的学生都不禁脸露笑容。
　　接下来的训练非常乏味，学生们一遍又一遍地重复练正步走。

　　当天晚上全营组织观看电影。吃完晚饭，段净夕放好餐具准备到食堂外面的洗手池洗手，走到门口时碰到班长张超跟陆慎析。两个男生边说话边往外面走，手上分别拿着一瓶饮料，显然是刚在食堂的小卖部买的。
　　班长叫住她：“段净夕，等一下你通知我们班的女生，教官把今晚的集合地点改到宿舍楼下了，还是六点四十五。”
　　“好。”段净夕点点头，转身走出食堂。

　　学生们刚吃完饭，洗手池前的人比较多，一眼望过去都是军绿色的身影，段净夕排在最边上的凉水水龙头的队伍前等候。
　　8班的两名女生举着水壶在门口右侧的开水水龙头前装热水，一边说着话：
　　“过完今天还剩一天就可以回家了。”
　　“我还好，没那么想家。”
　　女生转头跟同伴说着，这一转头自然就分神了，手上的水壶一歪，霎时间热水飞溅。她旁边的同伴来不及躲开，立时被滚烫的热水溅到，“啊”地痛呼出声，手腕的皮肤一下子红了一大片。
　　女生也慌了：“啊！对不起对不起！”
　　段净夕刚想说“用冷水冲”，只见陆慎析直接扭开手上刚买的矿泉水，一步踏上，把瓶子里的水淋到那个女生的手上。
　　其他学生只能后知后觉地看着这场突如其来的变故。
　　等瓶子里的水都倒完后，陆慎析扭上盖子，对班上的女生说：“这水还没喝过。去那边冲一冲，等一下再去医务室那里看看吧。”
　　“哦好！谢谢！”8班的两个女生剩下的唯一反应就是道谢。
　　陆慎析将手上的空瓶子扔进食堂门口的垃圾桶里，这才走到洗手池前开始洗手。
　　段净夕已经排到队伍的最前面，收回目光，旋开水龙头低头洗手。
　　这一刻她心里更加理解为什么年级里那么多女生都暗自倾心于他了：当其他学生还只会听课做习题时，他已经能够冷静泰然地处理突发事件，气度凌驾于众人之上。

　　星期五早上，六连的学员跟着五连一起在大操场进行阅兵排练——六连的教官要单独为两名刚选出来的护旗手进行操练。
　　五连和六连到操场附近休息的时候，两名护旗手还在操场上排练，于是一百多双眼睛都好奇地望着他们。
　　烈日当空，隔得有点远，护旗手的样子看不清。
　　两名男生从阅兵□□出发，经过主席台时换成正步走，摆臂、踢腿动作十分整齐一致，迈出的每一步都跟机械一样，标准得就像久经训练的士兵，英姿焕发。
　　段净夕喝完水再望向操场时，两名旗手已经回到了阅兵□□，其中一名男生正在低头整理手中的国旗，侧影颀长，脸部线条坚毅，眉眼清冽——是陆慎析。
　　他旁边另一个旗手是3班的男生，个子也很高。
　　两个男生都穿着军绿色的军服，双手戴着雪白的手套，身高臂长，映着大操场的蓝天绿草，更显英气。

　　翌日早上的阅兵仪式十分成功。
　　校长亲自前来阅兵，年级主任和八个班的班主任一同观看学生们的蜕变成长。
　　八只队伍陆续入场，两名护旗手在全营学员的注视下护着国旗一直走到旗杆前，国歌奏响时国旗迎风飘扬。学员们嘹亮而富有气势的应答声给为期一周的军训划下了完美的句号。

　　初二的军训就这样结束了。</string>
</array>
</plist>
