<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>第一章</string>
	<string>第二章</string>
	<string>第三章</string>
	<string>第四章</string>
	<string>第五章</string>
	<string>第六章</string>
	<string>第七章</string>
	<string>第八章</string>
	<string>第九章</string>
	<string>第十章</string>
</array>
</plist>
