<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>误会</string>
	<string>思考</string>
	<string>霹雳</string>
	<string>上课</string>
	<string>加油</string>
	<string>补课</string>
	<string>路口</string>
	<string>凝望</string>
	<string>落叶</string>
	<string>夏夜(END)</string>
</array>
</plist>
